extends ../_test.pug

block style
  title Button

block content
  p.buttons.has-items(role='group')
    button.button.has-title
      span.button-title.title Button
  p.buttons.has-items(role='group')
    button.button.has-arrow.has-title
      span.button-title.title Button
      span.arrow.button-arrow(role='none')
    = ' '
    button.button.has-arrow.has-title
      span.arrow.button-arrow(role='none')
      span.button-title.title Button
      span.arrow.button-arrow(role='none')
    = ' '
    button.button.has-arrow.has-title
      span.arrow.button-arrow(role='none')
      span.button-title.title Button
  p.buttons.has-items(role='group')
    button.button.has-icon.has-title
      span.button-title.title Button
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
    = ' '
    button.button.has-icon.has-title
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
      span.button-title.title Button
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
    = ' '
    button.button.has-icon.has-title
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
      span.button-title.title Button
  p.buttons.has-items(role='group')
    button.button.has-arrow.has-icon.has-title
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
      span.button-title.title Button
      span.arrow.button-arrow(role='none')
  p.buttons.has-items(role='group')
    button.button.has-icon(aria-label='Button')
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
    = ' '
    button.button.has-arrow(aria-label='Options')
      span.arrow.button-arrow(role='none')
    = ' '
    button.button.has-arrow.has-icon(aria-label='Button')
      svg.button-icon.icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z')
      span.arrow.button-arrow(role='none')