.block,
.blocks,
.block__bar,
.block__tasks {
  flex-direction: column;
  flex: 1;
}

.button,
.button-set,
.entry,
.entry-set,
.link,
.link-set,
.menu,
.menu-item,
.menu-items,
.menu-link,
.title,
.bar,
.columns,
.item,
.items,
.list,
.list-title,
.row,
.block__icon,
.fields,
.field,
.field__entry,
.field__tasks,
.arrow,
.button-arrow,
.button-title,
.buttons,
.entries,
.link-arrow,
.link-title,
.links,
.menu-arrow,
.menus,
.title-arrow,
.tool,
.tools,
.zone-title,
.zones,
.block,
.blocks,
.block__bar,
.block__tasks {
  align-items: stretch;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
}

.bar,
.columns,
.item,
.items,
.list,
.list-title,
.row,
.block__icon,
.fields,
.field,
.field__entry,
.field__tasks,
.arrow,
.button-arrow,
.button-title,
.buttons,
.entries,
.link-arrow,
.link-title,
.links,
.menu-arrow,
.menus,
.title-arrow,
.tool,
.tools,
.zone-title,
.zones,
.block,
.blocks,
.block__bar,
.block__tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

:focus-visible,
.list-items:where(:not(.has-gap)):focus,
.list-items:where(:not(.has-gap)):focus-within,
.list-items > .list-item:focus {
  outline: 1px solid #000;
}

*,
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 0 0;
  border: 0;
  border-color: inherit;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: #cccccc;
  border: 0 solid #000;
  color: #000;
  font: 16px/24px sans-serif;
}

:disabled,
.entry:disabled,
.button:disabled,
[aria-disabled=true],
.entry[aria-disabled=true],
.button[aria-disabled=true],
a[aria-disabled=true],
a:not([href]) {
  cursor: not-allowed;
}

:where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) + :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) {
  margin-top: 12px;
}

li:where(:not(:first-child)) > :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  p,
  pre,
  search,
  section,
  table):where(:first-child) {
  margin-top: 12px;
}

a {
  color: #00f;
  cursor: pointer;
}
a:focus,
a:hover {
  color: #3333ff;
}
a:active {
  color: rgb(0, 0, 229.5);
}
a:not([href]) {
  color: inherit;
}
a[aria-disabled=true],
a.entry[aria-disabled=true],
a.button[aria-disabled=true] {
  color: inherit;
}

button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0 6px;
}

code {
  font-family: "Courier New", monospace;
  font-size: 95%;
}

details > summary {
  cursor: pointer;
  display: block;
}

details[open] > summary {
  margin-bottom: 12px;
}

fieldset {
  border: 1px solid #000;
  padding: 24px;
}

legend {
  font-weight: bold;
  padding: 0 8px;
}

pre code {
  display: block;
  overflow: auto;
  background: #000;
  color: #fff;
  padding: 8px 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border-top: 1px solid #000;
}

dd,
ol,
ul {
  margin-left: 24px;
}

dt {
  font-weight: bold;
}

figure {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

figure img {
  border: 1px solid #000;
}

audio,
iframe,
video {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  display: block;
  width: 100%;
  height: auto;
}

ol {
  list-style: decimal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table caption {
  caption-side: bottom;
  margin: 8px 0 0;
  text-align: center;
}

td,
th {
  border: 1px solid #000;
  padding: 4px 8px;
}

th {
  font-weight: bold;
}

ul {
  list-style: disc;
}

[role=alert] {
  background: #ff0;
  padding: 12px 18px;
}

.bar {
  flex-direction: row;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0 solid;
  border-color: inherit;
  padding: 2px 8px;
}
.bar-icon {
  margin-left: -4px;
}

.column {
  flex: 1;
  margin: 0;
}
.column.fill-1 {
  flex-basis: calc(8.3333333333% * 1);
  max-width: calc(8.3333333333% * 1);
}
.column.fill-2 {
  flex-basis: calc(8.3333333333% * 2);
  max-width: calc(8.3333333333% * 2);
}
.column.fill-3 {
  flex-basis: calc(8.3333333333% * 3);
  max-width: calc(8.3333333333% * 3);
}
.column.fill-4 {
  flex-basis: calc(8.3333333333% * 4);
  max-width: calc(8.3333333333% * 4);
}
.column.fill-5 {
  flex-basis: calc(8.3333333333% * 5);
  max-width: calc(8.3333333333% * 5);
}
.column.fill-6 {
  flex-basis: calc(8.3333333333% * 6);
  max-width: calc(8.3333333333% * 6);
}
.column.fill-7 {
  flex-basis: calc(8.3333333333% * 7);
  max-width: calc(8.3333333333% * 7);
}
.column.fill-8 {
  flex-basis: calc(8.3333333333% * 8);
  max-width: calc(8.3333333333% * 8);
}
.column.fill-9 {
  flex-basis: calc(8.3333333333% * 9);
  max-width: calc(8.3333333333% * 9);
}
.column.fill-10 {
  flex-basis: calc(8.3333333333% * 10);
  max-width: calc(8.3333333333% * 10);
}
.column.fill-11 {
  flex-basis: calc(8.3333333333% * 11);
  max-width: calc(8.3333333333% * 11);
}
.column.fill-12 {
  flex-basis: calc(8.3333333333% * 12);
  max-width: calc(8.3333333333% * 12);
}

.columns {
  flex-direction: row;
  flex: 1;
}

.content {
  margin-bottom: -4px;
  margin-top: -4px;
}

.has-gap {
  padding: 24px;
}
.has-stroke {
  border: 1px solid;
}

.item {
  flex-direction: row;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.list {
  gap: 6px;
  position: relative;
}
.list-bar {
  border: 1px solid transparent;
}
.list-description {
  display: none;
}
.list-item {
  background: #fff;
  border: 1px solid #000;
  padding: 2px 8px;
}
.list-item:hover {
  background: rgb(242.25, 242.25, 255);
}
.list-item:focus,
.list-item:focus-within {
  background: rgb(229.5, 229.5, 255);
}
.list-item:active {
  background: rgb(216.75, 216.75, 255);
}
.list-item.not-active {
  background: #fff;
  color: #666666;
}
.list-items.has-gap {
  gap: 6px;
}
.list-items.has-gap > .list-item.not-active {
  border-color: rgb(127.5, 127.5, 127.5);
}
.list-items.has-gap > .list-item:not(:first-child) {
  margin-top: 0;
}
.list-items:where(:not(.has-gap)):focus > .list-item:focus,
.list-items:where(:not(.has-gap)):focus-within > .list-item:focus {
  outline: 0;
}
.list-items > .list-item:where(:not(:first-child)) {
  margin-top: -1px;
}
.list-items > .list-item > .item-icon {
  margin-left: -4px;
}
.list-title {
  font-weight: bold;
}
.list-tools {
  margin: 0;
}

.row {
  flex-direction: column;
}

.rows.has-gap > .row {
  margin: -12px;
}
.rows.has-gap > .row > .columns > .column {
  margin: 12px;
}
.rows.has-gap > .row > .columns > .column.fill-1 {
  flex-basis: calc(8.3333333333% * 1 - 24px);
  max-width: calc(8.3333333333% * 1 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-2 {
  flex-basis: calc(8.3333333333% * 2 - 24px);
  max-width: calc(8.3333333333% * 2 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-3 {
  flex-basis: calc(8.3333333333% * 3 - 24px);
  max-width: calc(8.3333333333% * 3 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-4 {
  flex-basis: calc(8.3333333333% * 4 - 24px);
  max-width: calc(8.3333333333% * 4 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-5 {
  flex-basis: calc(8.3333333333% * 5 - 24px);
  max-width: calc(8.3333333333% * 5 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-6 {
  flex-basis: calc(8.3333333333% * 6 - 24px);
  max-width: calc(8.3333333333% * 6 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-7 {
  flex-basis: calc(8.3333333333% * 7 - 24px);
  max-width: calc(8.3333333333% * 7 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-8 {
  flex-basis: calc(8.3333333333% * 8 - 24px);
  max-width: calc(8.3333333333% * 8 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-9 {
  flex-basis: calc(8.3333333333% * 9 - 24px);
  max-width: calc(8.3333333333% * 9 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-10 {
  flex-basis: calc(8.3333333333% * 10 - 24px);
  max-width: calc(8.3333333333% * 10 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-11 {
  flex-basis: calc(8.3333333333% * 11 - 24px);
  max-width: calc(8.3333333333% * 11 - 24px);
}
.rows.has-gap > .row > .columns > .column.fill-12 {
  flex-basis: calc(8.3333333333% * 12 - 24px);
  max-width: calc(8.3333333333% * 12 - 24px);
}
.rows.has-gap > .row + .row {
  margin-top: 12px;
}

.block,
.blocks {
  border: 1px solid;
}

.block__bar {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
  padding: 3px;
}
.block__bar + .block__content {
  border-top: 1px solid;
}
.block__content {
  flex: 1;
  padding: 24px;
}
.block__title {
  cursor: move;
  flex: 1;
  padding: 0 6px;
  user-select: none;
}
.block__task {
  cursor: pointer;
  user-select: none;
}
.block__tasks {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
}

.blocks {
  gap: 24px;
  padding: 24px;
}
.blocks[aria-orientation=horizontal] {
  flex-direction: row;
}

.fields {
  flex-direction: column;
  gap: 24px;
}

.field {
  gap: 24px;
}

.field__title {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
}

.field__content {
  flex: 1;
}

.field__entry {
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.field__icon {
  border-right: 1px solid;
}
.field__icon .icon {
  display: block;
}

.field__task {
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
}
.field__task .task__title {
  flex: 1;
  padding: 0 6px;
}

.arrow {
  align-items: center;
  flex-direction: row;
  opacity: 0.5;
}
.arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}

.button {
  background: rgb(63.75, 63.75, 63.75);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  gap: 4px;
  min-height: 30px;
  padding: 2px 8px;
  position: relative;
}
.button-arrow {
  margin: 0 4px;
}
.button-arrow:first-child {
  margin-left: 0;
}
.button-arrow:last-child {
  margin-right: 0;
}
.button-icon:first-child {
  margin-left: -6px;
}
.button-icon:last-child {
  margin-right: -6px;
}
.button-title {
  flex: 1;
}
.button:focus,
.button:hover {
  background: #333333;
  z-index: 10;
}
.button.is-active,
.button:active {
  background: rgb(25.5, 25.5, 25.5);
  z-index: 10;
}
.button.not-active {
  background: rgb(127.5, 127.5, 127.5);
  border-color: #333333;
}
.button-set {
  position: relative;
}
.button-set > .button:not(:first-child) {
  margin-left: -1px;
}
.buttons {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: inherit;
}
.buttons.to-center {
  justify-content: center;
}
.buttons.to-fill {
  justify-content: space-between;
}
.buttons.to-start {
  justify-content: start;
}
.buttons.to-end {
  justify-content: end;
}

.description {
  color: rgb(63.75, 63.75, 63.75);
}
.description-content {
  margin-bottom: 0;
  margin-top: 0;
}

.entries {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: inherit;
}
.entries.to-center {
  justify-content: center;
}
.entries.to-fill {
  justify-content: space-between;
}
.entries.to-start {
  justify-content: start;
}
.entries.to-end {
  justify-content: end;
}

.entry {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: rgb(229.5, 229.5, 229.5);
  border: 1px solid #000;
  color: #000;
  min-height: 30px;
  min-width: 144px;
  padding: 2px 8px;
  position: relative;
}
.entry:where(select) {
  cursor: pointer;
}
.entry:where(textarea) {
  min-height: 78px;
  resize: vertical;
}
.entry:focus,
.entry:hover {
  z-index: 10;
}
.entry.not-active {
  background: rgb(216.75, 216.75, 216.75);
  border-color: rgb(63.75, 63.75, 63.75);
}
.entry-set {
  position: relative;
}
.entry-set > .entry:not(:first-child) {
  margin-left: -1px;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.link {
  color: #00f;
  cursor: pointer;
  gap: 4px;
  position: relative;
}
.link:focus,
.link:hover {
  color: #3333ff;
  z-index: 10;
}
.link:focus > .arrow,
.link:hover > .arrow {
  opacity: 0.45;
}
.link.is-active,
.link:active {
  color: rgb(0, 0, 229.5);
  z-index: 10;
}
.link.is-active > .arrow,
.link:active > .arrow {
  opacity: 0.65;
}
.link-arrow {
  margin: 0 4px;
}
.link-arrow:first-child {
  margin-left: 0;
}
.link-arrow:last-child {
  margin-right: 0;
}
.link-set {
  gap: 6px;
  position: relative;
}
.links {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: inherit;
}
.links.to-center {
  justify-content: center;
}
.links.to-fill {
  justify-content: space-between;
}
.links.to-start {
  justify-content: start;
}
.links.to-end {
  justify-content: end;
}

.menu {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: default;
}
.menu-arrow {
  border-left: 1px solid;
  border-left-color: inherit;
  cursor: pointer;
  height: 100%;
  padding: 0 8px;
}
.menu-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.menu-arrow.is-active {
  background: rgb(191.25, 191.25, 191.25);
}
.menu-icon {
  margin: 0 3px;
}
.menu-item {
  border: 0 solid;
  border-color: inherit;
  flex-wrap: nowrap;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.menu-item.has-link {
  cursor: pointer;
}
.menu-item.has-link:hover {
  background: rgb(223.125, 223.125, 255);
}
.menu-item.has-link:focus-within {
  background: rgb(191.25, 191.25, 255);
}
.menu-item.has-link.is-current {
  background: rgb(38.25, 38.25, 255);
  color: #fff;
}
.menu-item.has-link.is-current:hover {
  background: rgb(12.75, 12.75, 255);
}
.menu-item.has-link.is-current:focus-within {
  background: rgb(12.75, 12.75, 255);
}
.menu-item.has-link.is-current > .menu-link {
  color: inherit;
}
.menu-item.has-link.is-open {
  background: rgb(191.25, 191.25, 255);
}
.menu-item:not(.is-open) > .menu {
  display: none;
}
.menu-item:not(:first-child) {
  border-left-width: 1px;
}
.menu-items {
  align-items: stretch;
  border-color: inherit;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-link {
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-link.link .link-icon {
  margin-left: -4px;
}
.menu .menu {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
  left: -1px;
  position: absolute;
  top: 100%;
  z-index: 9999;
}
.menu .menu .menu-item:not(:first-child) {
  border-left-width: 0;
  border-top-width: 1px;
}
.menu .menu .menu-items {
  flex-direction: column;
  min-width: 144px;
}
.menu .menu .menu-items .link-arrow::after {
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: 4px 0 4px 5px;
}
.menu .menu .menu {
  left: 100%;
  top: -1px;
}

.menus {
  gap: 24px;
}

.title {
  color: inherit;
  flex: 1;
  font: inherit;
  gap: 4px;
}
.title-arrow {
  margin: 0 4px;
}
.title-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.title-arrow:first-child {
  margin-left: 0;
}
.title-arrow:last-child {
  margin-right: 0;
}
.title-content {
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.tool {
  flex-direction: row;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.tools {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
.zone {
  position: relative;
}
.zone > :where(:not(:first-child)) {
  margin-top: -1px;
}
.zone-bar {
  background: rgb(229.5, 229.5, 255);
  border: 1px solid #000;
  margin: 0;
}
.zone-content {
  background: #fff;
  border: 1px solid #000;
  margin: 0;
  padding: 24px;
}
.zone-description {
  flex: 0 0 100%;
  font-size: 14px;
}
.zone-icon {
  margin-left: -6px;
}
.zones.has-gap {
  gap: 24px;
  padding: 0;
}
.zones.has-gap > :where(:not(:first-child)) {
  margin-top: 0;
}
.zones > :where(:not(:first-child)) {
  margin-top: -1px;
}