*,
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 0 0;
  border-color: inherit;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: rgba(0, 0, 125, 0.35);
  border: 0 solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font: 16px/24px sans-serif;
}

:disabled,
.button:disabled,
[aria-disabled=true],
.button[aria-disabled=true] {
  cursor: not-allowed;
}

a {
  color: rgb(0, 0, 125);
}

p + p {
  margin-top: 12px;
}

.bar {
  border: 0 solid;
  border-color: inherit;
  gap: 4px;
  padding: 4px 10px;
}

.column {
  flex: 1;
}
.column.size-1 {
  flex-basis: calc(8.3333333333% * 1 - 24px);
  max-width: calc(8.3333333333% * 1 - 24px);
}
.column.size-2 {
  flex-basis: calc(8.3333333333% * 2 - 24px);
  max-width: calc(8.3333333333% * 2 - 24px);
}
.column.size-3 {
  flex-basis: calc(8.3333333333% * 3 - 24px);
  max-width: calc(8.3333333333% * 3 - 24px);
}
.column.size-4 {
  flex-basis: calc(8.3333333333% * 4 - 24px);
  max-width: calc(8.3333333333% * 4 - 24px);
}
.column.size-5 {
  flex-basis: calc(8.3333333333% * 5 - 24px);
  max-width: calc(8.3333333333% * 5 - 24px);
}
.column.size-6 {
  flex-basis: calc(8.3333333333% * 6 - 24px);
  max-width: calc(8.3333333333% * 6 - 24px);
}
.column.size-7 {
  flex-basis: calc(8.3333333333% * 7 - 24px);
  max-width: calc(8.3333333333% * 7 - 24px);
}
.column.size-8 {
  flex-basis: calc(8.3333333333% * 8 - 24px);
  max-width: calc(8.3333333333% * 8 - 24px);
}
.column.size-9 {
  flex-basis: calc(8.3333333333% * 9 - 24px);
  max-width: calc(8.3333333333% * 9 - 24px);
}
.column.size-10 {
  flex-basis: calc(8.3333333333% * 10 - 24px);
  max-width: calc(8.3333333333% * 10 - 24px);
}
.column.size-11 {
  flex-basis: calc(8.3333333333% * 11 - 24px);
  max-width: calc(8.3333333333% * 11 - 24px);
}
.column.size-12 {
  flex-basis: calc(8.3333333333% * 12 - 24px);
  max-width: calc(8.3333333333% * 12 - 24px);
}

.columns {
  flex: 1;
}

.content {
  margin-bottom: -4px;
  margin-top: -4px;
}

.has-gap {
  padding: 24px;
}

.row {
  flex-direction: column;
}

.rows.has-gap > .row {
  margin: -12px;
}
.rows.has-gap > .row > .columns > .column {
  margin: 12px;
}
.rows.has-gap > .row + .row {
  margin-top: 12px;
}

.has-stroke {
  border: 1px solid;
}

.block__tasks,
.block__bar,
.block,
.blocks {
  flex-direction: column;
  flex: 1;
}

.field__task,
.field__icon,
.form__entry,
.field__title {
  padding: 3px;
}

.title,
.menu-link,
.menu-items,
.menu-item,
.menu,
.link,
.button-set,
.button,
.zone-title,
.title-arrow,
.menus,
.menu-arrow,
.link-title,
.link-arrow,
.button-title,
.button-arrow,
.field__task,
.field__tasks,
.field__entry,
.field,
.fields,
.block__icon,
.bar,
.columns,
.row,
.block__tasks,
.block__bar,
.block,
.blocks {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.zone-title,
.title-arrow,
.menus,
.menu-arrow,
.link-title,
.link-arrow,
.button-title,
.button-arrow,
.field__task,
.field__tasks,
.field__entry,
.field,
.fields,
.block__icon,
.bar,
.columns,
.row,
.block__tasks,
.block__bar,
.block,
.blocks {
  display: flex;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.block,
.blocks {
  border: 1px solid;
}

.block__bar {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
  padding: 3px;
}
.block__bar + .block__content {
  border-top: 1px solid;
}
.block__content {
  flex: 1;
  padding: 24px;
}
.block__title {
  cursor: move;
  flex: 1;
  padding: 0 6px;
  user-select: none;
}
.block__task {
  cursor: pointer;
  user-select: none;
}
.block__tasks {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
}

.blocks {
  gap: 24px;
  padding: 24px;
}
.blocks[aria-orientation=horizontal] {
  flex-direction: row;
}

.fields {
  flex-direction: column;
  gap: 24px;
}

.field {
  gap: 24px;
}

.field__title {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
}

.field__content {
  flex: 1;
}

.field__entry {
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.field__icon {
  border-right: 1px solid;
}
.field__icon .icon {
  display: block;
}

.field__task {
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
}
.field__task .task__title {
  flex: 1;
  padding: 0 6px;
}

.button {
  align-items: stretch;
  background: rgba(0, 0, 125, 0.75);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  cursor: pointer;
  gap: 4px;
  min-height: 30px;
  padding: 2px 8px;
  position: relative;
  vertical-align: middle;
}
.button-arrow {
  color: rgb(255, 255, 255);
}
.button-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.button-set {
  align-items: stretch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}
.button-set > .button {
  box-shadow: none;
}
.button-set > .button:not(:first-child) {
  margin-left: -1px;
}
.button-icon:first-child {
  margin-left: -6px;
}
.button-icon:last-child {
  margin-right: -6px;
}
.button-title {
  flex: 1;
}
.button-title + .button-arrow {
  margin-left: 2px;
}
.button:focus,
.button:hover {
  background: rgba(0, 0, 125, 0.85);
  z-index: 10;
}
.button.is-active,
.button:active {
  background: rgba(0, 0, 125, 0.95);
  z-index: 10;
}
.button.not-active {
  background: rgba(0, 0, 125, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
.description {
  color: rgba(0, 0, 0, 0.75);
}
.description-content {
  margin-bottom: 0;
  margin-top: 0;
}

.link {
  cursor: pointer;
  gap: 4px;
  position: relative;
  vertical-align: middle;
}
.link-arrow {
  color: rgb(0, 0, 0);
}
.link-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.link-title {
  flex: 1;
}
.link-title + .link-arrow {
  margin-left: 2px;
}

.menu {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
  cursor: default;
}
.menu-arrow {
  color: rgb(0, 0, 0);
  border-left: 1px solid;
  border-left-color: inherit;
  cursor: pointer;
  height: 100%;
  padding: 0 8px;
}
.menu-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.menu-arrow.is-active {
  background: rgba(0, 0, 0, 0.25);
}
.menu-icon {
  margin: 0 3px;
}
.menu-item {
  border: 0 solid;
  border-color: inherit;
  flex-wrap: nowrap;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.menu-item.has-link {
  cursor: pointer;
}
.menu-item.has-link:hover {
  background: rgba(0, 0, 125, 0.125);
}
.menu-item.has-link:focus-within {
  background: rgba(0, 0, 125, 0.25);
}
.menu-item.has-link.is-current {
  background: rgba(0, 0, 125, 0.85);
  color: rgb(255, 255, 255);
}
.menu-item.has-link.is-current:hover {
  background: rgba(0, 0, 125, 0.95);
}
.menu-item.has-link.is-current:focus-within {
  background: rgba(0, 0, 125, 0.95);
}
.menu-item.has-link.is-current > .menu-link {
  color: inherit;
}
.menu-item.has-link.is-open {
  background: rgba(0, 0, 125, 0.25);
}
.menu-item:not(.is-open) > .menu {
  display: none;
}
.menu-item:not(:first-child) {
  border-left-width: 1px;
}
.menu-items {
  align-items: stretch;
  border-color: inherit;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-link {
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-link.link .link-icon {
  margin-left: -4px;
}
.menu .menu {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
  left: -1px;
  position: absolute;
  top: 100%;
  z-index: 9999;
}
.menu .menu .menu-item:not(:first-child) {
  border-left-width: 0;
  border-top-width: 1px;
}
.menu .menu .menu-items {
  flex-direction: column;
  min-width: 144px;
}
.menu .menu .menu-items .link-arrow::after {
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: 4px 0 4px 5px;
}
.menu .menu .menu {
  left: 100%;
  top: -1px;
}

.menus {
  gap: 24px;
}

.title {
  color: inherit;
  flex-wrap: nowrap;
  font: inherit;
  gap: 4px;
  vertical-align: middle;
}
.title-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.title-content {
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
}
.title-content + .title-arrow {
  margin-left: 2px;
}
.title-hint {
  color: rgba(0, 0, 0, 0.5);
}

.zone {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.zone-bar {
  background: rgba(0, 0, 125, 0.125);
}
.zone-content {
  margin: 0;
  padding: 20px 24px;
}
.zone-description {
  flex: 0 0 100%;
  font-size: 14px;
}
.zone-icon {
  margin-left: -6px;
}
.zone-title {
  flex: 1;
}
.zone.has-content .zone-bar {
  border-bottom-width: 1px;
}