*,
::after,
::before {
  -webkit-tap-highlight-color: rgb(0, 0, 0);
  background: 0 0;
  border: 0;
  border-color: inherit;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: rgb(165.75, 165.75, 209.5);
  border: 0 solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font: 16px/24px sans-serif;
}

:disabled,
.button:disabled,
[aria-disabled=true],
.button[aria-disabled=true] {
  cursor: not-allowed;
}

:where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) + :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) {
  margin-top: 12px;
}

li:where(:not(:first-child)) > :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  p,
  pre,
  search,
  section,
  table):where(:first-child) {
  margin-top: 12px;
}

a {
  color: rgb(0, 0, 125);
}

button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0 6px;
}

.arrow {
  opacity: 0.5;
}

.bar {
  border: 0 solid;
  border-color: inherit;
  gap: 4px;
  padding: 4px 10px;
}

.column {
  flex: 1;
}
.column.fill-1 {
  flex-basis: calc(8.3333333333% * 1 - 24px);
  max-width: calc(8.3333333333% * 1 - 24px);
}
.column.fill-2 {
  flex-basis: calc(8.3333333333% * 2 - 24px);
  max-width: calc(8.3333333333% * 2 - 24px);
}
.column.fill-3 {
  flex-basis: calc(8.3333333333% * 3 - 24px);
  max-width: calc(8.3333333333% * 3 - 24px);
}
.column.fill-4 {
  flex-basis: calc(8.3333333333% * 4 - 24px);
  max-width: calc(8.3333333333% * 4 - 24px);
}
.column.fill-5 {
  flex-basis: calc(8.3333333333% * 5 - 24px);
  max-width: calc(8.3333333333% * 5 - 24px);
}
.column.fill-6 {
  flex-basis: calc(8.3333333333% * 6 - 24px);
  max-width: calc(8.3333333333% * 6 - 24px);
}
.column.fill-7 {
  flex-basis: calc(8.3333333333% * 7 - 24px);
  max-width: calc(8.3333333333% * 7 - 24px);
}
.column.fill-8 {
  flex-basis: calc(8.3333333333% * 8 - 24px);
  max-width: calc(8.3333333333% * 8 - 24px);
}
.column.fill-9 {
  flex-basis: calc(8.3333333333% * 9 - 24px);
  max-width: calc(8.3333333333% * 9 - 24px);
}
.column.fill-10 {
  flex-basis: calc(8.3333333333% * 10 - 24px);
  max-width: calc(8.3333333333% * 10 - 24px);
}
.column.fill-11 {
  flex-basis: calc(8.3333333333% * 11 - 24px);
  max-width: calc(8.3333333333% * 11 - 24px);
}
.column.fill-12 {
  flex-basis: calc(8.3333333333% * 12 - 24px);
  max-width: calc(8.3333333333% * 12 - 24px);
}

.columns {
  flex: 1;
}

.content {
  margin-bottom: -4px;
  margin-top: -4px;
}

.has-gap {
  padding: 24px;
}

.row {
  flex-direction: column;
}

.rows.has-gap > .row {
  margin: -12px;
}
.rows.has-gap > .row > .columns > .column {
  margin: 12px;
}
.rows.has-gap > .row + .row {
  margin-top: 12px;
}

.has-stroke {
  border: 1px solid;
}

.block__tasks,
.block__bar,
.block,
.blocks {
  flex-direction: column;
  flex: 1;
}

.field__task,
.field__icon,
.form__entry,
.field__title {
  padding: 3px;
}

.title,
.menu-link,
.menu-items,
.menu-item,
.menu,
.link-set,
.link,
.button-set,
.button,
.zones,
.zone-title,
.title-arrow,
.menus,
.menu-arrow,
.links,
.link-title,
.link-arrow,
.buttons,
.button-title,
.button-arrow,
.field__task,
.field__tasks,
.field__entry,
.field,
.fields,
.block__icon,
.bar,
.columns,
.row,
.block__tasks,
.block__bar,
.block,
.blocks {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.zones,
.zone-title,
.title-arrow,
.menus,
.menu-arrow,
.links,
.link-title,
.link-arrow,
.buttons,
.button-title,
.button-arrow,
.field__task,
.field__tasks,
.field__entry,
.field,
.fields,
.block__icon,
.bar,
.columns,
.row,
.block__tasks,
.block__bar,
.block,
.blocks {
  display: flex;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.block,
.blocks {
  border: 1px solid;
}

.block__bar {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
  padding: 3px;
}
.block__bar + .block__content {
  border-top: 1px solid;
}
.block__content {
  flex: 1;
  padding: 24px;
}
.block__title {
  cursor: move;
  flex: 1;
  padding: 0 6px;
  user-select: none;
}
.block__task {
  cursor: pointer;
  user-select: none;
}
.block__tasks {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
}

.blocks {
  gap: 24px;
  padding: 24px;
}
.blocks[aria-orientation=horizontal] {
  flex-direction: row;
}

.fields {
  flex-direction: column;
  gap: 24px;
}

.field {
  gap: 24px;
}

.field__title {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
}

.field__content {
  flex: 1;
}

.field__entry {
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.field__icon {
  border-right: 1px solid;
}
.field__icon .icon {
  display: block;
}

.field__task {
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
}
.field__task .task__title {
  flex: 1;
  padding: 0 6px;
}

.button {
  align-items: stretch;
  background: rgb(63.75, 63.75, 157.5);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  cursor: pointer;
  gap: 4px;
  min-height: 30px;
  padding: 2px 8px;
  position: relative;
  vertical-align: middle;
}
.button-arrow {
  margin: 0 4px;
}
.button-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.button-arrow:first-child {
  margin-left: 0;
}
.button-arrow:last-child {
  margin-right: 0;
}
.button-set {
  align-items: stretch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  vertical-align: middle;
}
.button-set > .button {
  box-shadow: none;
}
.button-set > .button:not(:first-child) {
  margin-left: -1px;
}
.button-icon:first-child {
  margin-left: -6px;
}
.button-icon:last-child {
  margin-right: -6px;
}
.button-title {
  flex: 1;
}
.button:focus,
.button:hover {
  background: #333397;
  z-index: 10;
}
.button.is-active,
.button:active {
  background: rgb(38.25, 38.25, 144.5);
  z-index: 10;
}
.button.not-active {
  background: rgb(127.5, 127.5, 190);
  border-color: rgb(63.75, 63.75, 56.25);
  box-shadow: none;
}
.buttons {
  gap: 12px;
  justify-content: inherit;
}
.buttons.to-center {
  justify-content: center;
}
.buttons.to-fill {
  justify-content: space-between;
}
.buttons.to-start {
  justify-content: start;
}
.buttons.to-end {
  justify-content: end;
}

.description {
  color: rgb(63.75, 63.75, 63.75);
}
.description-content {
  margin-bottom: 0;
  margin-top: 0;
}

.link {
  cursor: pointer;
  gap: 4px;
  position: relative;
  vertical-align: middle;
}
.link-arrow {
  margin: 0 4px;
}
.link-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.link-arrow:first-child {
  margin-left: 0;
}
.link-arrow:last-child {
  margin-right: 0;
}
.link-set {
  align-items: stretch;
  position: relative;
  vertical-align: middle;
}
.link-title {
  flex: 1;
}

.links {
  gap: 12px;
  justify-content: inherit;
}
.links.to-center {
  justify-content: center;
}
.links.to-fill {
  justify-content: space-between;
}
.links.to-start {
  justify-content: start;
}
.links.to-end {
  justify-content: end;
}

.menu {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
  cursor: default;
}
.menu-arrow {
  border-left: 1px solid;
  border-left-color: inherit;
  cursor: pointer;
  height: 100%;
  padding: 0 8px;
}
.menu-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.menu-arrow.is-active {
  background: rgb(191.25, 191.25, 191.25);
}
.menu-icon {
  margin: 0 3px;
}
.menu-item {
  border: 0 solid;
  border-color: inherit;
  flex-wrap: nowrap;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.menu-item.has-link {
  cursor: pointer;
}
.menu-item.has-link:hover {
  background: rgb(223.125, 223.125, 238.75);
}
.menu-item.has-link:focus-within {
  background: rgb(191.25, 191.25, 222.5);
}
.menu-item.has-link.is-current {
  background: rgb(38.25, 38.25, 144.5);
  color: rgb(255, 255, 255);
}
.menu-item.has-link.is-current:hover {
  background: rgb(12.75, 12.75, 131.5);
}
.menu-item.has-link.is-current:focus-within {
  background: rgb(12.75, 12.75, 131.5);
}
.menu-item.has-link.is-current > .menu-link {
  color: inherit;
}
.menu-item.has-link.is-open {
  background: rgb(191.25, 191.25, 222.5);
}
.menu-item:not(.is-open) > .menu {
  display: none;
}
.menu-item:not(:first-child) {
  border-left-width: 1px;
}
.menu-items {
  align-items: stretch;
  border-color: inherit;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-link {
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-link.link .link-icon {
  margin-left: -4px;
}
.menu .menu {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25);
  left: -1px;
  position: absolute;
  top: 100%;
  z-index: 9999;
}
.menu .menu .menu-item:not(:first-child) {
  border-left-width: 0;
  border-top-width: 1px;
}
.menu .menu .menu-items {
  flex-direction: column;
  min-width: 144px;
}
.menu .menu .menu-items .link-arrow::after {
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: 4px 0 4px 5px;
}
.menu .menu .menu {
  left: 100%;
  top: -1px;
}

.menus {
  gap: 24px;
}

.title {
  color: inherit;
  flex-wrap: nowrap;
  font: inherit;
  gap: 4px;
  vertical-align: middle;
}
.title-arrow {
  margin: 0 4px;
}
.title-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 5px 4px 0;
  content: "";
}
.title-arrow:first-child {
  margin-left: 0;
}
.title-arrow:last-child {
  margin-right: 0;
}
.title-content {
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
}
.title-hint {
  color: rgb(127.5, 127.5, 127.5);
}

.zone {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.zone-bar {
  background: rgb(223.125, 223.125, 238.75);
}
.zone-content {
  margin: 0;
  padding: 20px 24px;
}
.zone-description {
  flex: 0 0 100%;
  font-size: 14px;
}
.zone-icon {
  margin-left: -6px;
}
.zone-title {
  flex: 1;
}
.zone.has-content .zone-bar {
  border-bottom-width: 1px;
}
.zone + .zone {
  margin-top: 24px;
}

.zones {
  flex-direction: column;
}
.zones.has-gap {
  gap: 24px;
  padding: 0;
}
.zones.has-gap > .zone:not(:first-child) {
  margin-top: 0;
}
.zones > .zone:not(:first-child) {
  margin-top: -1px;
}