*,
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 0 0;
  border-color: inherit;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: #fff;
  border: 0 solid #000;
  color: #000;
  font: 16px/24px sans-serif;
}

.column {
  flex: 1;
}
.column.size-1 {
  flex-basis: calc(8.3333333333% * 1);
  max-width: calc(8.3333333333% * 1);
}
.column.size-2 {
  flex-basis: calc(8.3333333333% * 2);
  max-width: calc(8.3333333333% * 2);
}
.column.size-3 {
  flex-basis: calc(8.3333333333% * 3);
  max-width: calc(8.3333333333% * 3);
}
.column.size-4 {
  flex-basis: calc(8.3333333333% * 4);
  max-width: calc(8.3333333333% * 4);
}
.column.size-5 {
  flex-basis: calc(8.3333333333% * 5);
  max-width: calc(8.3333333333% * 5);
}
.column.size-6 {
  flex-basis: calc(8.3333333333% * 6);
  max-width: calc(8.3333333333% * 6);
}
.column.size-7 {
  flex-basis: calc(8.3333333333% * 7);
  max-width: calc(8.3333333333% * 7);
}
.column.size-8 {
  flex-basis: calc(8.3333333333% * 8);
  max-width: calc(8.3333333333% * 8);
}
.column.size-9 {
  flex-basis: calc(8.3333333333% * 9);
  max-width: calc(8.3333333333% * 9);
}
.column.size-10 {
  flex-basis: calc(8.3333333333% * 10);
  max-width: calc(8.3333333333% * 10);
}
.column.size-11 {
  flex-basis: calc(8.3333333333% * 11);
  max-width: calc(8.3333333333% * 11);
}
.column.size-12 {
  flex-basis: calc(8.3333333333% * 12);
  max-width: calc(8.3333333333% * 12);
}

.columns {
  flex: 1;
}

.content {
  margin-bottom: -4px;
  margin-top: -4px;
}

.has-gap {
  padding: 24px;
}

.row {
  flex-direction: column;
}

.rows.has-gap > .row {
  margin: -12px;
}
.rows.has-gap > .row > .columns > .column {
  margin: 12px;
}
.rows.has-gap > .row + .row {
  margin-top: 12px;
}

.has-stroke {
  border: 1px solid;
}

.block__tasks,
.block__bar,
.block,
.blocks {
  flex-direction: column;
  flex: 1;
}

.field__task,
.field__icon,
.form__entry,
.field__title {
  padding: 3px;
}

.title,
.menu-link,
.menu-items,
.menu-item,
.menu,
.link,
.menu-arrow,
.link-title,
.link-arrow,
.field__task,
.field__tasks,
.field__entry,
.field,
.fields,
.block__icon,
.columns,
.row,
.block__tasks,
.block__bar,
.block,
.blocks {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-arrow,
.link-title,
.link-arrow,
.field__task,
.field__tasks,
.field__entry,
.field,
.fields,
.block__icon,
.columns,
.row,
.block__tasks,
.block__bar,
.block,
.blocks {
  display: flex;
}

.icon {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.block,
.blocks {
  border: 1px solid;
}

.block__bar {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
  padding: 3px;
}
.block__bar + .block__content {
  border-top: 1px solid;
}
.block__content {
  flex: 1;
  padding: 24px;
}
.block__title {
  cursor: move;
  flex: 1;
  padding: 0 6px;
  user-select: none;
}
.block__task {
  cursor: pointer;
  user-select: none;
}
.block__tasks {
  flex-direction: row;
  flex: 0 auto;
  gap: 3px;
}

.blocks {
  gap: 24px;
  padding: 24px;
}
.blocks[aria-orientation=horizontal] {
  flex-direction: row;
}

.fields {
  flex-direction: column;
  gap: 24px;
}

.field {
  gap: 24px;
}

.field__title {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
}

.field__content {
  flex: 1;
}

.field__entry {
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.field__icon {
  border-right: 1px solid;
}
.field__icon .icon {
  display: block;
}

.field__task {
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
}
.field__task .task__title {
  flex: 1;
  padding: 0 6px;
}

.link {
  gap: 8px;
}
.link-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 6px 4px 0;
  content: "";
}
.link-title {
  flex: 1;
}

.menu {
  border: 1px solid;
}
.menu-arrow {
  border-left: 1px solid;
  cursor: pointer;
  height: 100%;
  padding: 0 8px;
}
.menu-arrow::after {
  border: 0 solid transparent;
  border-top-color: inherit;
  border-width: 6px 4px 0;
  content: "";
}
.menu-arrow.is-active {
  background: rgba(0, 0, 0, 0.25);
}
.menu-icon {
  margin: 0 3px;
}
.menu-item {
  border: 0 solid;
  border-color: inherit;
  flex-wrap: nowrap;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.menu-item:hover {
  background: rgba(0, 0, 255, 0.125);
}
.menu-item.is-open,
.menu-item:focus-within {
  background: rgba(0, 0, 255, 0.25);
}
.menu-item:not(.is-open) > .menu {
  display: none;
}
.menu-item:not(:first-child) {
  border-left-width: 1px;
}
.menu-items {
  align-items: stretch;
  line-height: 30px;
  list-style: none;
  margin: 0;
  min-width: 144px;
  padding: 0;
}
.menu-link {
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .menu {
  left: -1px;
  position: absolute;
  top: 100%;
  z-index: 9999;
}
.menu .menu .menu-item:not(:first-child) {
  border-left-width: 0;
  border-top-width: 1px;
}
.menu .menu .menu-items {
  flex-direction: column;
}
.menu .menu .menu-items .link-arrow::after {
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: 4px 0 4px 6px;
}
.menu .menu .menu {
  left: 100%;
  top: -1px;
}

.title {
  flex-wrap: nowrap;
}
.title-content {
  flex: 1;
}
.title-hint {
  color: rgb(128, 128, 128);
}