extends ../_test.pug

block style
  title Buttons

block content
  p.buttons.has-items(role='group')
    button Button
    button Button
    button Button
  p.buttons.has-items.to-start(role='group')
    button Button
    button Button
    button Button
  p.buttons.has-items.to-center(role='group')
    button Button
    button Button
    button Button
  p.buttons.has-items.to-end(role='group')
    button Button
    button Button
    button Button
  p.buttons.has-items.to-fill(role='group')
    button Button
    button Button
    button Button