extends ../_test.pug

block style
  title Link

block content
  p.links.has-items(role='group')
    a.has-title.link(href='#link')
      span.link-title.title Link
  p.links.has-items(role='group')
    a.has-arrow.has-title.link(href='#link')
      span.link-title.title Link
      span.arrow.link-arrow(role='none')
    = ' '
    a.has-arrow.has-title.link(href='#link')
      span.arrow.link-arrow(role='none')
      span.link-title.title Link
      span.arrow.link-arrow(role='none')
    = ' '
    a.has-arrow.has-title.link(href='#link')
      span.arrow.link-arrow(role='none')
      span.link-title.title Link
  p.links.has-items(role='group')
    a.has-icon.has-title.link(href='#link')
      span.link-title.title Link
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
    = ' '
    a.has-icon.has-title.link(href='#link')
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
      span.link-title.title Link
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
    = ' '
    a.has-icon.has-title.link(href='#link')
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
      span.link-title.title Link
  p.links.has-items(role='group')
    a.has-arrow.has-icon.has-title.link(href='#link')
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
      span.link-title.title Link
      span.arrow.link-arrow
  p.links.has-items(role='group')
    a.has-icon.link(href='#link')
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
    = ' '
    a.has-arrow.link(href='#link')
      span.arrow.link-arrow
    = ' '
    a.has-arrow.has-icon.link(href='#link')
      svg.icon.link-icon(height='24' role='none' viewBox='0 0 24 24' width='24')
        path(d='M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23z')
      span.arrow.link-arrow