html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Zone with Bar Only
    link(href='../../index.min.css?v=%(version)' rel='stylesheet')
  body.has-gap(role='application')
    .zone.has-bar
      hgroup.bar.has-title.zone-bar
        h1.has-content.title.zone-title
          span.content.title-content Lorem Ipsum
    script(src='../../index.min.js?v=%(version)')