extends ../_test.pug

block style
  title Zone

block content
  .zone.has-bar(tabindex='0')
    hgroup.bar.has-icon.has-title.zone-bar
      svg.bar-icon.icon(height='24' viewBox='0 0 24 24' width='24')
        path(d='M4 5h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4z')
      h1.bar-title.title Lorem Ipsum