html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Zone with Title and Title Hint
    link(href='../../index.min.css?v=%(version)' rel='stylesheet')
  body.has-gap(role='application')
    .zone.has-bar.has-content
      hgroup.bar.zone-bar
        h1.has-content.has-hint.title.zone-title
          span.content.title-content Lorem Ipsum
          span.hint.title-hint 24
      .content.zone-content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac gravida quam, id porttitor magna. Morbi et mi ultrices, ornare neque a, efficitur dui. Nullam pellentesque interdum consequat. Fusce tincidunt sagittis nibh vitae convallis. Curabitur magna lorem, facilisis gravida libero eu, sodales mattis velit. Nullam tortor nisl, tincidunt at mauris eu, pretium finibus quam. Proin non suscipit quam, in ultricies neque. Pellentesque purus ligula, pretium vitae quam sed, mattis ullamcorper sapien. Aenean posuere ex in tellus convallis aliquam. Donec eget luctus erat. Praesent vel elementum nulla. Praesent suscipit elementum nulla, sed consequat augue hendrerit vel. Phasellus tincidunt bibendum dapibus. Nulla imperdiet suscipit nulla ac congue.
        p Aenean vitae justo interdum risus rutrum molestie ut a felis. Duis ac elementum libero. Phasellus efficitur arcu cursus est sollicitudin, quis consequat urna cursus. Nulla vitae ligula suscipit, scelerisque risus eget, viverra leo. Curabitur mattis rhoncus quam vitae scelerisque. Vestibulum at bibendum nibh, nec mattis eros. Sed lectus massa, varius a lacus sit amet, varius finibus orci.
    script(src='../../index.min.js?v=%(version)')