extends ../_.pug

block content
  h1 Bar
  p A bar is a horizontal user interface component that is placed at the very top of an area (usually a zone). Its purpose is to provide quick access to important information and controls.
  h2 Examples
  h3 A Bar
  pre: code
    | &lt;header class="bar"&gt;
    |   Lorem Ipsum
    | &lt;/header&gt;
  #test-1.has-fill.has-pad.has-stroke
    header.bar Lorem Ipsum
  h3 A Bar with Menus
  pre: code
    | &lt;header class="bar"&gt;
    |   &lt;nav class="menus"&gt;
    |     &lt;div class="menu"&gt;
    |       &lt;ul class="items menu-items"&gt;
    |         &lt;li class="item menu-item"&gt;
    |           &lt;a class="link menu-link" href="#"&gt;
    |             Menu 1
    |           &lt;/a&gt;
    |         &lt;/li&gt;
    |         &lt;li class="item menu-item"&gt;
    |           &lt;a class="link menu-link" href="#"&gt;
    |             Menu 2
    |           &lt;/a&gt;
    |         &lt;/li&gt;
    |         &lt;li class="item menu-item"&gt;
    |           &lt;a class="link menu-link" href="#"&gt;
    |             Menu 3
    |           &lt;/a&gt;
    |         &lt;/li&gt;
    |         &hellip;
    |       &lt;/ul&gt;
    |     &lt;/div&gt;
    |   &lt;/nav&gt;
    | &lt;/header&gt;
  h3 A Bar with Tabs
  h3 A Bar with Title and Icon
  pre: code
    | &lt;header class="bar has-icon has-title"&gt;
    |   &lt;svg class="bar-icon icon" height="24" viewBox="0 0 24 24" width="24"&gt; &hellip; &lt;/svg&gt;
    |   &lt;h1 class="bar-title title"&gt;
    |     Lorem Ipsum
    |   &lt;/h1&gt;
    | &lt;/header&gt;
  #test-3.has-fill.has-pad.has-stroke
    header.bar.has-icon.has-title
      svg.bar-icon.icon(height='24' viewBox='0 0 24 24' width='24')
        path(d='M4 5h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4z')
      h1.bar-title.title Lorem Ipsum
  h3 A Bar with Title and Tools
  pre: code
    | &lt;header class="bar has-title has-tools"&gt;
    |   &lt;h1 class="bar-title title"&gt;
    |     Lorem Ipsum
    |   &lt;/h1&gt;
    |   &lt;ul class="bar-tools tools"&gt;
    |     &lt;li class="bar-tool has-link tool"&gt;
    |       &lt;a class="has-icon link tool-link" href="#"&gt;
    |         &lt;svg class="icon link-icon" height="24" viewBox="0 0 24 24" width="24"&gt; &hellip; &lt;/svg&gt;
    |       &lt;/a&gt;
    |     &lt;/li&gt;
    |     &hellip;
    |   &lt;/ul&gt;
    | &lt;/header&gt;
  #test-4.has-fill.has-pad.has-stroke
    header.bar.has-title.has-tools
      h1.bar-title.title Lorem Ipsum
      ul.bar-tools.tools
        li.bar-tool.has-link.tool
          a.has-icon.link.tool-link(href='#' title='Minimize')
            svg.icon.link-icon(height='24' viewBox='0 0 24 24' width='24')
              path(d='M20 14H4v-4h16')
        li.bar-tool.has-link.tool
          a.has-icon.link.tool-link(href='#' title='Maximize')
            svg.icon.link-icon(height='24' viewBox='0 0 24 24' width='24')
              path(d='M4 4h16v16H4zm2 4v10h12V8z')
        li.bar-tool.has-link.tool
          a.has-icon.link.tool-link(href='#' title='Close')
            svg.icon.link-icon(height='24' viewBox='0 0 24 24' width='24')
              path(d='M13.46 12L19 17.54V19h-1.46L12 13.46L6.46 19H5v-1.46L10.54 12L5 6.46V5h1.46L12 10.54L17.54 5H19v1.46z')

block style
  title Bar &middot; Type &middot; Panel