html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Title with Arrow and Content
    link(href='../../index.min.css?v=%(version)' rel='stylesheet')
  body.has-gap(role='application')
    h1.has-arrow.has-content.title
      span.content.title-content Title
      span.arrow.title-arrow(role='none')
    script(src='../../index.min.js?v=%(version)')