extends ../_test.pug

block style
  title List with Icon

block content
  div.has-items.has-title.has-tools.list
    header.bar.list-bar
      h3.bar-title.title Example 1
      p.bar-tools.has-items.tools
        a.has-icon.list-tool.tool(href='#link' tabindex='0')
          svg.icon.list-icon(height='24' viewBox='0 0 24 24' width='24')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6Z')
        a.has-icon.list-tool.tool(href='#link' tabindex='-1')
          svg.icon.list-icon(height='24' viewBox='0 0 24 24' width='24')
            path(d='M18 21l-4-4h3V7h-3l4-4l4 4h-3v10h3M2 19v-2h10v2M2 13v-2h7v2M2 7V5h4v2Z')
    ul.items.list-items(tabindex='-1')
      li.can-mark.has-icon.has-link.item.list-item(tabindex='0')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-8Z')
        h4.item-link.link
          a.link-title.title(href='#link') folder
      li.can-mark.has-icon.has-link.item.list-item(tabindex='-1')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zm4 18H6V4h7v5h5Z')
        h4.item-link.link
          a.link-title.title(href='#link') file.txt
      li.can-mark.has-icon.has-link.item.list-item(tabindex='-1')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zm4 18H6V4h7v5h5Z')
        h4.item-link.link
          a.link-title.title(href='#link') file.txt
      li.can-mark.has-icon.has-link.item.list-item(tabindex='-1')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zm4 18H6V4h7v5h5Z')
        h4.item-link.link
          a.link-title.title(href='#link') file.txt
  div.has-items.has-title.has-tools.list
    header.bar.list-bar
      h3.bar-title.title Example 2
      p.bar-tools.has-items.tools
        a.has-icon.list-tool.tool(href='#link' tabindex='0')
          svg.icon.list-icon(height='24' viewBox='0 0 24 24' width='24')
            path(d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6Z')
        a.has-icon.list-tool.tool(href='#link' tabindex='-1')
          svg.icon.list-icon(height='24' viewBox='0 0 24 24' width='24')
            path(d='M18 21l-4-4h3V7h-3l4-4l4 4h-3v10h3M2 19v-2h10v2M2 13v-2h7v2M2 7V5h4v2Z')
    ul.items.list-items(tabindex='-1')
      li.can-mark.has-icon.has-title.item.list-item(tabindex='0')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M19 19H5V5h14m0-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-5.04 9.29l-2.75 3.54l-1.96-2.36L6.5 17h11Z')
        h4.item-title.title image-1.jpg
      li.can-mark.has-icon.has-title.item.list-item(tabindex='-1')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M19 19H5V5h14m0-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-5.04 9.29l-2.75 3.54l-1.96-2.36L6.5 17h11Z')
        h4.item-title.title image-2.jpg
      li.can-mark.has-icon.has-title.item.list-item(tabindex='-1')
        svg.icon.item-icon(height='24' viewBox='0 0 24 24' width='24')
          path(d='M19 19H5V5h14m0-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-5.04 9.29l-2.75 3.54l-1.96-2.36L6.5 17h11Z')
        h4.item-title.title image-3.jpg