extends ../_test.pug

block style
  title List with Items

block content
  p
    button.button.is-active(aria-pressed='true' onclick='this.classList.toggle(\'is-active\');this.parentNode.nextElementSibling.firstElementChild.classList.toggle(\'has-gap\');this.setAttribute(\'aria-pressed\',this.classList.contains(\'is-active\'));' type='button') Gap
  .list.has-items
    ul.items.list-items(tabindex='-1')
      li.item.list-item(tabindex='0') List Item 1
      li.item.list-item(tabindex='-1') List Item 2
      li.item.list-item(tabindex='-1') List Item 3
      li.item.list-item(tabindex='-1') List Item 4
      li.item.list-item.not-active(aria-disabled='true') List Item 5