extends ../_test.pug

block content
  header.bar.has-icon.has-title
    svg.bar-icon.icon(height='24' viewBox='0 0 24 24' width='24')
      path(d='M4 5h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4z')
    h1.bar-title.title A bar with title and icon

block style
  title Bar with Title and Icon