%blocks {
  @extend %flex-block;
  flex-direction: column;
  flex: 1;
}

%flex {
  align-items: stretch;
  display: inline-flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  vertical-align: middle;
}

%flex-block {
  @extend %flex;
  display: flex;
  flex: {
    direction: column;
    wrap: nowrap;
  }
}

%focus {
  outline: 1px solid #000;
}