%blocks {
  @extend %flex-block;
  flex-direction: column;
  flex: 1;
}

%flex-x {
  align-items: stretch;
  display: inline-flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  vertical-align: middle;
}

%flex-x-fill {
  @extend %flex-x;
  display: flex;
}

%flex-y {
  align-items: stretch;
  display: inline-flex;
  flex: {
    direction: column;
  }
}

%flex-y-fill {
  @extend %flex-y;
  display: flex;
}

%flex {
  align-items: stretch;
  display: inline-flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  vertical-align: middle;
}

%flex-block {
  @extend %flex;
  display: flex;
  flex: {
    direction: column;
    wrap: nowrap;
  }
}

%focus {
  outline: 1px solid #000;
}

%item {
  @extend %flex-block;
  flex-direction: row;
  gap: 0 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

%items {
  @extend %flex-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}