@use './_.scss' as *;

@mixin arrow {
  @extend %flex-block;
  align-items: center;
  flex-direction: row;
  &::after {
    border: 0 solid transparent;
    border: {
      top-color: inherit;
      width: 0.3125rem 0.25rem 0;
    }
    content: "";
  }
  opacity: 0.5;
}