@use 'sass:color';

@use './_.scss' as *;

@mixin button {
  @extend %flex;
  background: color.mix(#000, #fff, 80%);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  gap: 0.25rem;
  min-height: 1.875rem;
  padding: 0.125rem 0.5rem;
  position: relative;
  &-arrow {
    @extend %flex-block;
    border-color: #fff;
    margin: 0 0.25rem;
    opacity: 1;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-icon {
    &:first-child {
      margin-left: -0.375rem;
    }
    &:last-child {
      margin-right: -0.375rem;
    }
  }
  &-title {
    @extend %flex-block;
    flex: 1;
  }
  &:focus,
  &:hover {
    background: color.mix(#000, #fff, 75%);
    z-index: 10;
  }
  &.is-active,
  &:active {
    background: color.mix(#000, #fff, 85%);
    z-index: 10;
  }
  &.not-active {
    background: color.mix(#000, #fff, 50%);
    border-color: color.mix(#000, #fff, 80%);
  }
  &:disabled {
    @extend :disabled;
  }
  &[aria-disabled='true'] {
    @extend [aria-disabled='true'];
  }
}