@use './_.scss' as *;

@mixin entries {
  @extend %flex-block;
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: 12px;
  justify-content: inherit;
  &.to-center {
    justify-content: center;
  }
  &.to-fill {
    justify-content: space-between;
  }
  &.to-start {
    justify-content: start;
  }
  &.to-end {
    justify-content: end;
  }
}