@use 'sass:color';

@use './_.scss' as *;

@mixin entry {
  -moz-appearance: none;
  -webkit-appearance: none;
  @extend %flex;
  appearance: none;
  background: color.mix(#000, #fff, 10%);
  border: 1px solid #000;
  color: #000;
  min-height: 30px;
  min-width: 144px;
  padding: 2px 8px;
  position: relative;
  &:where(select) {
    cursor: pointer;
  }
  &:where(textarea) {
    min-height: 4.875rem;
    resize: vertical;
  }
  &:focus,
  &:hover {
    z-index: 10;
  }
  &.not-active {
    background: color.mix(#000, #fff, 15%);
    border-color: color.mix(#000, #fff, 75%);
  }
  &:disabled {
    @extend :disabled;
  }
  &[aria-disabled='true'] {
    @extend [aria-disabled='true'];
  }
}