@use 'sass:color';

@use './_.scss' as *;

@mixin list {
  @extend %flex-block;
  gap: 0.375rem;
  position: relative;
}

@mixin list-bar {
  border: 1px solid transparent;
}

@mixin list-description {
  display: none;
}

@mixin list-item {
  background: #fff;
  border: 1px solid #000;
  padding: 0.125rem 0.5rem;
  &.has-link {
    &:hover {
      background: color.mix(#00f, #fff, 5%);
    }
    &:focus,
    &:focus-within {
      background: color.mix(#00f, #fff, 10%);
    }
    &:active {
      background: color.mix(#00f, #fff, 15%);
    }
  }
  &.has-mark {
    // TODO
  }
  &.not-active {
    background: #fff;
    color: color.mix(#000, #fff, 60%);
  }
}

@mixin list-items {
  &.has-gap {
    gap: 0.375rem;
    > .list-item {
      &.not-active {
        border-color: color.mix(#000, #fff, 50%);
      }
      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }
  &:where(:not(.has-gap)) {
    &:focus,
    &:focus-within {
      @extend %focus;
      > .list-item {
        &:focus {
          outline: 0;
        }
      }
    }
  }
  > .list-item {
    &:focus {
      @extend %focus;
    }
    &:where(:not(:first-child)) {
      margin-top: -1px;
    }
    > .item-icon {
      margin-left: -0.25rem;
    }
  }
}

@mixin list-title {
  @extend %flex-block;
  font-weight: bold;
}

@mixin list-tools {
  margin: 0;
}