@use 'sass:color';

@use './_.scss' as *;

@mixin title {
  @extend %flex;
  color: inherit;
  flex: 1;
  font: inherit;
  gap: 0.25rem;
}

@mixin title-arrow {
  @extend %flex-block;
  margin: 0 0.25rem;
  &::after {
    border: 0 solid transparent;
    border: {
      top-color: inherit;
      width: 0.3125rem 0.25rem 0;
    }
    content: "";
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

@mixin title-content {
  flex: 1;
  margin: {
    bottom: 0;
    top: 0;
  }
}

@mixin title-hint {
  color: color.mix(#000, #fff, 50%);
}