@use 'sass:color';

@use './_.scss' as *;

@mixin zone {
  position: relative;
  &:focus {
    z-index: 10;
  }
  > :not(:first-child) {
    margin-top: -1px;
  }
}

@mixin zone-bar {
  background: color.mix(#00f, #fff, 10%);
}

@mixin zone-description {
  flex: 0 0 100%;
  font-size: 0.875rem;
}