@use './_.scss' as *;

@mixin zones {
  @extend %flex-block;
  &.has-gap {
    gap: 24px;
    > :where(:not(:first-child)) {
      margin-top: 0;
    }
  }
  > :where(:not(:first-child)) {
    margin-top: -1px;
  }
}