html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    link(href='../'.repeat(file.to.split('/').length - 2) + 'index.min.css?v=%(version)' rel='stylesheet')
    title Article Example
  body.has-pad
    div.pages
      article.page
        h3.page-title.title Mass–Energy Equivalence
        p.excerpt.page-excerpt Mass–energy equivalence states that all objects having mass, or massive objects, have a corresponding intrinsic energy, even when they are stationary.
      article.page
        h3.page-title.title Magnet
        p.excerpt.page-excerpt A permanent magnet is an object made from a material that is magnetized and creates its own persistent magnetic field. An everyday example is a refrigerator magnet used to hold notes on a refrigerator door. Materials that can be magnetized, which are also the ones that are strongly attracted to a magnet, are called ferromagnetic (or ferrimagnetic). These include the elements iron, nickel and cobalt and their alloys, some alloys of rare-earth metals, and some naturally occurring minerals such as lodestone. Although ferromagnetic (and ferrimagnetic) materials are the only ones attracted to a magnet strongly enough to be commonly considered magnetic, all other substances respond weakly to a magnetic field, by one of several other types of magnetism.
      article.page
        h3.page-title.title A Password You Can Remember
        p.excerpt.page-excerpt This #[a(href='https://www.wikihow.com/Create-a-Password-You-Can-Remember' rel='nofollow' target='_blank') wikiHow] teaches you how to create a password that’s secure and unique while still being memorable.
    script(src='../'.repeat(file.to.split('/').length - 2) + 'index.min.js?v=%(version)')