extends _.pug

block content
  h3#motivation
    a(href='#motivation') #
    = ' Motivation'
  p I built a custom layout system for #[a(href='https://mecha-cms.com' target='_blank') Mecha]’s control panel feature (which is optional) without relying on external libraries. The initial goal was to design a minimalist control panel interface with as few files as possible. Over time, though, certain features became unavoidable, as they were necessary to showcase Mecha’s potential for further development by others. The features I’m referring to include:
  ul
    li A more modern source code editor
    li Drag &amp; drop lists
    li Drop-down select box with AJAX and search functionality
    li Extra buttons next to text inputs (e.g., for file selection)
    li Pop-up windows
    li Toasts
  p The process of developing the layout system directly through the #[a(href='https://mecha-cms.com/store/extension/panel') Panel] extension has turned out to be quite troublesome, since I’ve had to focus not only on HTML and CSS, but also on PHP code—which really shouldn’t have been involved in this part of the work. That’s why I came up with the idea of separating this layout system from the extension through this project, so I can focus more on defining the specifications.
  p With this project, the goal is to make future control panel features more scalable. The current control panel layout system is indeed solid, but it isn’t scalable. You can add or remove input fields, but it’s not flexible enough to support additional features. For example, with the current layout system, adding a button next to a text input is very difficult. Why? Because when I first built it, I never imagined that Mecha would eventually require such complex features. Truly, it was completely unexpected.
  p What inspired me to create the control panel layout system at that time was #[a(href='https://www.gnome.org' rel='nofollow' target='_blank') GNOME], a desktop environment widely known in the Linux community, especially because it was used in the latest version of #[a(href='https://ubuntu.com/desktop' rel='nofollow' target='_blank') Ubuntu]. It’s very simple, and even has its own #[a(href='https://developer.gnome.org/hig' rel='nofollow' target='_blank') documentation page] that not only explains the structure but also the philosophy behind it—the reasons why certain design decisions had to be made.

block style
  title Panel