@use 'sass:color';

@use './_.scss' as *;


// Base

*,
::after,
::before {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
  background: 0 0;
  border: 0;
  border-color: inherit;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: color.mix(#000, #fff, 20%);
  border: 0 solid #000;
  color: #000;
  font: 16px/1.5 sans-serif;
}

:disabled {
  cursor: not-allowed;
}

:focus-visible {
  @extend %focus;
}

:where(
  address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul
) {
  & + & {
    margin-top: 0.75rem;
  }
}

li {
  &:where(:not(:first-child)) {
    > :where(
      address,
      article,
      aside,
      blockquote,
      dd,
      details,
      div,
      dl,
      dt,
      fieldset,
      figure,
      footer,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hgroup,
      hr,
      main,
      nav,
      p,
      pre,
      search,
      section,
      table
    ):where(:first-child) {
      margin-top: 0.75rem;
    }
  }
}

a {
  color: #00f;
  cursor: pointer;
  &:focus,
  &:hover {
    color: color.mix(#00f, #fff, 80%);
  }
  &:active {
    color: color.mix(#00f, #000, 90%);
  }
  &:not([href]) {
    @extend :disabled;
    color: inherit;
  }
  &[aria-disabled='true'] {
    @extend :disabled;
    color: inherit;
  }
}

button {
  border: {
    style: solid;
    width: 1px;
  }
  cursor: pointer;
  padding: 0 0.375rem;
}

code {
  font-family: monospace;
  font-size: 85%;
}

details {
  &:open {
    > summary {
      margin-bottom: 0.75rem;
    }
  }
  > summary {
    cursor: pointer;
    display: block;
    user-select: none;
  }
}

fieldset {
  border: 1px solid #000;
  padding: 1.5rem;
}

label {
  cursor: pointer;
  user-select: none;
}

legend {
  font-weight: bold;
  padding: 0 0.5rem;
}

pre {
  code {
    background: #000;
    color: #fff;
    display: block;
    overflow: auto;
    padding: 0.5rem 0.75rem;
  }
}

h1, h2, h3, h4, h5, h6 {}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border-top: 1px solid #000;
}

dd, ol, ul {
  margin-left: 1.5rem;
}

dt {
  font-weight: bold;
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  img {
    border: 1px solid #000;
  }
}

audio,
iframe,
video {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  display: block;
  height: auto;
  width: 100%;
}

ol {
  list-style: decimal;
}

table {
  border-collapse: collapse;
  width: 100%;
  caption {
    caption-side: bottom;
    margin: 0.5rem 0 0;
    text-align: center;
  }
}

td, th {
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
}

th {
  font-weight: bold;
}

ul {
  list-style: disc;
}

[role='alert'] {
  background: #ff0;
  padding: 0.75rem 1.125rem;
}

[aria-disabled='true'] {
  @extend :disabled;
}

[type='checkbox'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: color.mix(#000, #fff, 20%);
  border: 2px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;
  &::after {
    border-bottom: 2px solid #00f;
    border-right: 2px solid #00f;
    bottom: 0;
    content: "";
    left: 6px;
    position: absolute;
    right: 0;
    top: 2px;
    transform: translate(-3.5px, -2px) rotate(45deg);
    display: none;
  }
  &:checked {
    background: #000;
    &::after {
      display: block;
    }
  }
}

[type='radio'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: color.mix(#000, #fff, 20%);
  border-radius: 100%;
  border: 2px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;
  &::after {
    border-radius: 100%;
    border: 2px solid #00f;
    bottom: 0;
    content: "";
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:checked {
    background: #000;
    &::after {
      display: block;
    }
  }
}


// Core

.arrow {
  @extend %flex-block;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-width: 0.5rem;
  opacity: 0.5;
  &.from-top,
  &.to-bottom {
    &::after {
      border: {
        top-color: inherit;
        width: 0.3125rem 0.25rem 0;
      }
    }
  }
  &.from-right,
  &.to-left {
    &::after {
      border: {
        right-color: inherit;
        width: 0.25rem 0.3125rem 0.25rem 0;
      }
    }
  }
  &.from-left,
  &.to-right {
    &::after {
      border: {
        left-color: inherit;
        width: 0.25rem 0 0.25rem 0.3125rem;
      }
    }
  }
  &.from-bottom,
  &.to-top {
    &::after {
      border: {
        bottom-color: inherit;
        width: 0 0.25rem 0.3125rem 0.25rem;
      }
    }
  }
  &::after {
    border: 0 solid transparent;
    content: "";
  }
}

.bar {
  @extend %item;
  background: #fff;
  border: 1px solid #000;
  padding: 0.125rem 0.5rem;
  &-icon {
    margin-left: -0.375rem;
  }
  &-title {
    flex: 1;
  }
  &-tool {}
  &-tools {
    gap: 0.125rem;
    &:first-child {
      margin-left: -0.375rem;
    }
    &:last-child {
      margin-right: -0.375rem;
    }
  }
}

.button {
  @extend %flex;
  align-items: center;
  background: color.mix(#000, #fff, 80%);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  gap: 0.25rem;
  min-height: 1.875rem;
  padding: 0.125rem 0.5rem;
  position: relative;
  &-arrow {
    @extend %flex-block;
    border-color: #fff;
    margin: 0 0.25rem;
    opacity: 1;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-icon {
    &:first-child {
      margin-left: -0.375rem;
    }
    &:last-child {
      margin-right: -0.375rem;
    }
  }
  &-set {
    @extend %flex;
    position: relative;
    > .button {
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
  }
  &-title {
    @extend %flex-block;
    flex: 1;
  }
  &:focus-visible,
  &:has(> :focus-visible),
  &:hover {
    background: color.mix(#000, #fff, 75%);
    color: #fff;
    z-index: 10;
  }
  &:has(> :focus-visible) {
    @extend %focus;
  }
  &.is-active,
  &:active,
  &:has(> :checked) {
    background: color.mix(#000, #fff, 85%);
    color: #fff;
    z-index: 10;
  }
  &.not-active {
    background: color.mix(#000, #fff, 50%);
    border-color: color.mix(#000, #fff, 80%);
    color: #fff;
  }
  &:disabled,
  &:is([aria-disabled='true']) {
    @extend :disabled;
    color: #fff;
  }
  > input {
    &[type='checkbox'],
    &[type='radio'] {
      &:first-child {
        left: -0.125rem;
      }
      &:focus-visible {
        outline-color: #fff;
      }
      &:last-child {
        right: -0.125rem;
      }
    }
  }
}

.buttons {
  @extend %flex-block;
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: 0.75rem;
  justify-content: inherit;
  &.to-center {
    justify-content: center;
  }
  &.to-fill {
    justify-content: space-between;
  }
  &.to-start {
    justify-content: start;
  }
  &.to-end {
    justify-content: end;
  }
}

.column {
  @extend %flex-block;
  flex: 1;
  margin: 0;
}

.columns {
  @extend %flex-block;
  flex-direction: row;
  flex: 1;
  margin: 0;
  > .column {
    @for $i from 1 through 12 {
      &.fill-#{$i} {
        flex-basis: calc(100% / 12 * #{$i});
        max-width: calc(100% / 12 * #{$i});
      }
    }
  }
  &.has-gap {
    > .column {
      margin: 0.75rem;
      @for $i from 1 through 12 {
        &.fill-#{$i} {
          flex-basis: calc(100% / 12 * #{$i} - 1.5rem);
          max-width: calc(100% / 12 * #{$i} - 1.5rem);
        }
      }
    }
  }
}

.content {
  background: #fff;
  border: 1px solid #000;
  margin: 0;
  padding: 1.5rem;
}

.description,
.excerpt {
  color: color.mix(#000, #fff, 75%);
  &-content {
    margin: {
      bottom: 0;
      top: 0;
    }
  }
}

.entry {
  -moz-appearance: none;
  -webkit-appearance: none;
  @extend %flex;
  appearance: none;
  background: color.mix(#000, #fff, 10%);
  border: 1px solid #000;
  color: #000;
  min-height: 30px;
  min-width: 144px;
  padding: 2px 8px;
  position: relative;
  &-set {
    @extend %flex;
    position: relative;
    > .entry {
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
  }
  &:where(select) {
    cursor: pointer;
  }
  &:where(textarea) {
    min-height: 4.875rem;
    resize: vertical;
  }
  &:focus,
  &:hover {
    z-index: 10;
  }
  &.not-active {
    background: color.mix(#000, #fff, 15%);
    border-color: color.mix(#000, #fff, 75%);
  }
  &:disabled,
  &:is([aria-disabled='true']) {
    @extend :disabled;
  }
}

.entries {
  @extend %flex-block;
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: 0.75rem;
  justify-content: inherit;
  &.to-center {
    justify-content: center;
  }
  &.to-fill {
    justify-content: space-between;
  }
  &.to-start {
    justify-content: start;
  }
  &.to-end {
    justify-content: end;
  }
}

.has {
  &-fill {
    background: color.mix(#000, #fff, 20%);
  }
  &-pad {
    padding: 1.5rem;
  }
  &-stroke {
    border: 1px solid;
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

.item {
  @extend %item;
  align-items: center;
  flex-wrap: wrap;
  &-link {
    font: inherit;
  }
  > .items {
    flex: 0 0 100%;
    padding-left: 1.75rem;
    &[hidden] {
      display: none;
    }
  }
  > label {
    @extend %flex;
    align-items: center;
    gap: 0.375rem;
  }
}

.items {
  @extend %items;
}

.link {
  @extend %flex;
  color: #00f;
  cursor: pointer;
  gap: 0.5rem;
  position: relative;
  &-arrow {
    @extend %flex-block;
    margin: 0 0.25rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-title {
    @extend %flex-block;
  }
  &:focus,
  &:hover {
    color: color.mix(#00f, #fff, 80%);
    z-index: 10;
    > .arrow {
      opacity: 0.45;
    }
  }
  &.is-active,
  &:active {
    color: color.mix(#00f, #000, 90%);
    z-index: 10;
    > .arrow {
      opacity: 0.65;
    }
  }
}

.links {
  @extend %flex-block;
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: 0.75rem;
  justify-content: inherit;
  &.to-center {
    justify-content: center;
  }
  &.to-fill {
    justify-content: space-between;
  }
  &.to-start {
    justify-content: start;
  }
  &.to-end {
    justify-content: end;
  }
}

.list {
  @extend %flex-block;
  position: relative;
  &-bar {
    background: color.mix(#00f, #fff, 10%);
  }
  &-description,
  &-excerpt {
    display: none;
  }
  &-item {
    background: #fff;
    border: 1px solid #000;
    padding: 0.125rem 0.5rem;
    &.can-mark {
      &:hover {
        background: color.mix(#00f, #fff, 5%);
      }
    }
    &.has-mark {
      background: color.mix(#ff0, #fff, 10%);
      &:hover {
        background: color.mix(#ff0, #fff, 15%);
      }
    }
    &.not-active {
      background: #fff;
      color: color.mix(#000, #fff, 60%);
    }
    &:not(:first-child) {
      margin-top: -1px;
    }
    &[tabindex] {
      &:focus,
      &:focus-within {
        @extend %focus;
        z-index: 10;
      }
    }
    > .item-icon {
      margin-left: -0.25rem;
    }
  }
  &-items {
    &.has-gap {
      gap: 0.375rem;
      > .list-item {
        &.not-active {
          border-color: color.mix(#000, #fff, 50%);
        }
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }
  &-title {
    @extend %flex-block;
    font-weight: bold;
  }
  &-tools {
    margin: 0;
  }
  > :not(:first-child) {
    margin-top: -1px;
  }
}

.row {
  @extend %flex-block;
  margin: 0;
}

.rows {
  @extend %flex-block;
  margin: 0;
  &.has-gap {
    gap: 1.5rem;
    > .row {
      margin: -0.75rem;
    }
  }
}

.title {
  @extend %flex;
  color: inherit;
  flex: 1;
  font: inherit;
  gap: 0.25rem;
  &-arrow {
    @extend %flex-block;
    margin: 0 0.25rem;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 0.3125rem 0.25rem 0;
      }
      content: "";
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-content {
    background: none;
    border: 0;
    flex: 1;
    padding: 0;
  }
  &-hint {
    color: color.mix(#000, #fff, 50%);
  }
}

.tool {
  @extend .item;
  &-set {}
}

.tools {
  @extend .items;
  flex: {
    direction: row;
    wrap: wrap;
  }
  gap: 0.25rem;
  &-set {}
}


// Component(s)

.menu {
  @extend %flex;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: default;
  &-arrow {
    @extend %flex-block;
    border: {
      left: 1px solid;
      left-color: inherit;
    }
    cursor: pointer;
    height: 100%;
    padding: 0 0.5rem;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 0.3125rem 0.25rem 0;
      }
      content: "";
    }
    &.is-active {
      background: color.mix(#000, #fff, 25%);
    }
  }
  &-icon {
    margin: 0 0.1875rem;
  }
  &-item {
    @extend %flex;
    border: 0 solid;
    border: {
      color: inherit;
    }
    flex-wrap: nowrap;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    &.has-link {
      cursor: pointer;
      &:hover {
        background: color.mix(#00f, #fff, 12.5%);
      }
      &:focus-within {
        background: color.mix(#00f, #fff, 25%);
      }
      &.is-current {
        background: color.mix(#00f, #fff, 85%);
        color: #fff;
        &:hover {
          background: color.mix(#00f, #fff, 95%);
        }
        &:focus-within {
          background: color.mix(#00f, #fff, 95%);
        }
        > .menu-link {
          color: inherit;
        }
      }
      &.is-open {
        background: color.mix(#00f, #fff, 25%);
      }
    }
    &:not(.is-open) {
      > .menu {
        display: none;
      }
    }
    &:not(:first-child) {
      border: {
        left-width: 1px;
      }
    }
  }
  &-items {
    @extend %flex;
    align-items: stretch;
    border-color: inherit;
    flex-direction: row;
    line-height: 1.875rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-link {
    @extend %flex;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;
    padding: 0 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.link {
      .link-icon {
        margin-left: -0.25rem;
      }
    }
  }
  .menu {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.25), 0 2px 4px rgb(0 0 0 / 0.25);
    left: -1px;
    position: absolute;
    top: 100%;
    z-index: 9999;
    .menu-item {
      &:not(:first-child) {
        border: {
          left-width: 0;
          top-width: 1px;
        }
      }
    }
    .menu-items {
      flex-direction: column;
      min-width: 9rem;
      .link-arrow {
        &::after {
          border: 0 solid transparent;
          border: {
            left-color: inherit;
            width: 0.25rem 0 0.25rem 0.3125rem;
          }
        }
      }
    }
    .menu {
      left: 100%;
      top: -1px;
    }
  }
}

.menus {
  @extend %flex-block;
  gap: 1.5rem;
}

.page {
  background: #fff;
  border: 1px solid #000;
  margin: 0;
  padding: 1.5rem;
  &-bar {
    background: color.mix(#00f, #fff, 10%);
  }
  &-title {
    font-size: 150%;
    line-height: 1;
  }
  + .page {
    margin-top: -1px;
  }
}

.pages {
  @extend %flex-block;
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 48rem;
  &.has-gap {
    gap: 1.5rem;
    .page {
      + .page {
        margin-top: 0;
      }
    }
  }
}

.zone {
  position: relative;
  &-bar {
    background: color.mix(#00f, #fff, 10%);
  }
  &-description,
  &-excerpt {
    flex: 0 0 100%;
    font-size: 0.875rem;
  }
  &:focus {
    z-index: 10;
  }
  > :not(:first-child) {
    margin-top: -1px;
  }
}

.zones {
  @extend %flex-block;
  &.has-gap {
    gap: 1.5rem;
    padding: 0;
    > :where(:not(:first-child)) {
      margin-top: 0;
    }
  }
  > :where(:not(:first-child)) {
    margin-top: -1px;
  }
}