*,
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 0 0;
  border-color: inherit;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: #fff;
  border: 0 solid #000;
  color: #000;
}

[role='application'] {
  padding: 1px;
}

%blocks {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1px;
  padding: 1px;
}

.block,
.blocks {
  @extend %blocks;
}

.block {
  &__bar {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
  }
  &__content {
    border: 1px solid;
    flex: 1;
  }
  &__icon {
    border: 1px solid;
    width: 1.25em;
  }
  &__title {
    border: 1px solid;
    cursor: move;
    flex: 1;
    padding: 0 0.25em;
    user-select: none;
  }
  &__task {
    border: 1px solid;
    cursor: pointer;
    min-width: 1em;
    user-select: none;
  }
  &__tasks {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
  }
}

.blocks {
  gap: 10px;
  padding: 10px;
  &[aria-orientation='horizontal'] {
    flex-direction: row;
  }
}

.content {
  padding: 10px;
}

.fields {
  border: 1px solid;
  padding: 1px;
  display: flex;
  gap: 1px;
  flex-direction: column;
}

.field {
  display: flex;
  border: 1px solid;
  border: 1px solid;
  gap: 1px;
  padding: 1px;
}

.field__bar {
  padding: 10px;
}

.field__title {
  border: 1px solid transparent;
}

.field__content {
  padding: 10px;
  flex: 1;
}

.field__entry {
  display: flex;
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__control {
  flex: 1;
  padding: 0 0.25em;
}

.field__icon {
  min-width: 1.25em;
}
.field__entry > * + * {
  border-left: 1px solid;
}

.field__tasks {
  display: flex;
  padding: 1px;
  gap: 1px;
}
.field__task {
  min-width: 1em;
  border: 1px solid;
  user-select: none;
  cursor: pointer;
}