*,
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 0 0;
  border-color: inherit;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: #fff;
  border: 0 solid #000;
  color: #000;
  font: 16px/24px sans-serif;
}

.column {
  flex: 1;
  @for $i from 1 through 12 {
    &.size-#{$i} {
      flex-basis: calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
  }
}

.columns {
  @extend %flex;
  flex: 1;
}

.content {
  margin: {
    bottom: -4px;
    top: -4px;
  }
}

.has {
  &-gap {
    padding: 24px;
  }
}

.row {
  @extend %flex;
  flex-direction: column;
}

.rows {
  &.has-gap {
    > .row {
      margin: -12px;
      > .columns {
        > .column {
          margin: 12px;
        }
      }
      + .row {
        margin-top: 12px;
      }
    }
  }
}

.has {
  &-stroke {
    border: 1px solid;
  }
}

%blocks {
  @extend %flex;
  flex-direction: column;
  flex: 1;
}

%entry {
  padding: 3px;
}

%flex {
  align-items: center;
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
}

%icon {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

%title {}

.block,
.blocks {
  @extend %blocks;
  border: 1px solid;
}

.block {
  &__bar {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
    padding: 3px;
    + .block__content {
      border-top: 1px solid;
    }
  }
  &__content {
    flex: 1;
    padding: 24px;
  }
  &__icon {
    @extend %flex;
  }
  &__title {
    @extend %title;
    cursor: move;
    flex: 1;
    padding: 0 6px;
    user-select: none;
  }
  &__task {
    cursor: pointer;
    user-select: none;
  }
  &__tasks {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
  }
}

.blocks {
  gap: 24px;
  padding: 24px;
  &[aria-orientation='horizontal'] {
    flex-direction: row;
  }
}

.fields {
  @extend %flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  @extend %flex;
  gap: 24px;
}

.field__bar {}

.field__title {
  @extend %entry;
  border: 1px solid transparent;
  padding: {
    left: 0;
    right: 0;
  }
}

.field__content {
  flex: 1;
}

.field__entry {
  @extend %flex;
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  @extend %entry;
  flex: 1;
  padding: {
    left: 8px;
    right: 8px;
  }
}

.field__icon {
  @extend %entry;
  border-right: 1px solid;
  .icon {
    display: block;
  }
}

.field__tasks {
  @extend %flex;
}
.field__task {
  @extend %entry, %flex;
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
  .task__title {
    flex: 1;
    padding: 0 6px;
  }
}

.icon {
  @extend %icon;
}

.link {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  &-arrow {
    @extend %flex;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 6px 4px 0;
      }
      content: "";
    }
  }
}

.link-arrow {
}

.link-arrow::after {
}

.menu {
  @extend %flex;
  border: 1px solid;
  &-arrow {
    @extend %flex;
    border-left: 1px solid;
    cursor: pointer;
    padding: 0 8px;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 6px 4px 0;
      }
      content: "";
    }
  }
  &-item {
    border: 0 solid;
    border: {
      color: inherit;
      right-width: 1px;
    }
    display: flex;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-items {
    display: flex;
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-link {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.menu-item {
  position: relative;
}
.menu .menu {
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 9999;
}

.menu-item .menu-items {
  flex-direction: column;
}
.menu-item .menu-item {
  border-right: 0;
}
.menu-item .menu-item + .menu-item {
  border-top: 1px solid;
}