*,
::after,
::before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: 0 0;
  border-color: inherit;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: #fff;
  border: 0 solid #000;
  color: #000;
  font: 16px/24px sans-serif;
}

.column {
  flex: 1;
  @for $i from 1 through 12 {
    &.size-#{$i} {
      flex-basis: calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.content {
  margin: {
    bottom: -4px;
    top: -4px;
  }
}

.has {
  &-gap {
    padding: 24px;
  }
}

.row {
  display: flex;
  flex-direction: column;
}

.rows {
  &.has-gap {
    > .row {
      margin: -12px;
      > .columns {
        > .column {
          margin: 12px;
        }
      }
      + .row {
        margin-top: 12px;
      }
    }
  }
}

.has {
  &-stroke {
    border: 1px solid;
  }
}

%blocks {
  display: flex;
  flex-direction: column;
  flex: 1;
}

%entry {
  padding: 3px;
}

%icon {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

%title {}

.block,
.blocks {
  @extend %blocks;
  border: 1px solid;
}

.block {
  &__bar {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
    padding: 3px;
    + .block__content {
      border-top: 1px solid;
    }
  }
  &__content {
    flex: 1;
    padding: 24px;
  }
  &__icon {
    align-items: center;
    display: flex;
  }
  &__title {
    @extend %title;
    cursor: move;
    flex: 1;
    padding: 0 6px;
    user-select: none;
  }
  &__task {
    cursor: pointer;
    user-select: none;
  }
  &__tasks {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
  }
}

.blocks {
  gap: 24px;
  padding: 24px;
  &[aria-orientation='horizontal'] {
    flex-direction: row;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  gap: 24px;
}

.field__bar {}

.field__title {
  @extend %entry;
  border: 1px solid transparent;
  padding: {
    left: 0;
    right: 0;
  }
}

.field__content {
  flex: 1;
}

.field__entry {
  display: flex;
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  @extend %entry;
  flex: 1;
  padding: {
    left: 8px;
    right: 8px;
  }
}

.field__icon {
  @extend %entry;
  border-right: 1px solid;
}

.field__tasks {
  display: flex;
}
.field__task {
  @extend %entry;
  border-left: 1px solid;
  cursor: pointer;
  display: flex;
  user-select: none;
  .task__title {
    flex: 1;
    padding: 0 6px;
  }
}

.icon {
  @extend %icon;
}

.menus {
  display: flex;
  border: 1px solid;
  padding: 1px;
  gap: 1px;
}

.menu,
.menu__item,
.menu__link {
  display: flex;
  gap: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  border: 1px solid;
  flex: 1;
  gap: 1px;
  padding: 1px;
}

.menu__item {
  border: 1px solid;
  padding: 1px;
  flex: 1;
}

.menu__link {
  border: 1px solid;
  flex: 1;
  padding: 0 6px;
}

.menu__arrow {
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
}

.menu__arrow::after {
  content: "";
  border: 0 solid transparent;
  border-width: 8px 6px 0 6px;
  border-top-color: inherit;
  display: block;
}