@use 'sass:color';

@use './_.scss' as *;
@use './_arrow.scss' as *;
@use './_button-set.scss' as *;
@use './_button.scss' as *;
@use './_buttons.scss' as *;
@use './_content.scss' as *;
@use './_description.scss' as *;
@use './_icon.scss' as *;
@use './_link-set.scss' as *;
@use './_link.scss' as *;
@use './_links.scss' as *;
@use './_title.scss' as *;

*,
::after,
::before {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
  background: 0 0;
  border: 0;
  border-color: inherit;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: color.mix(#00f, #fff, 35%);
  border: 0 solid #000;
  color: #000;
  font: 16px/24px sans-serif;
}

:disabled {
  cursor: not-allowed;
}

:where(
  address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul
) {
  & + & {
    margin-top: 12px;
  }
}

li {
  &:where(:not(:first-child)) {
    > :where(
      address,
      article,
      aside,
      blockquote,
      dd,
      details,
      div,
      dl,
      dt,
      fieldset,
      figure,
      footer,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hgroup,
      hr,
      main,
      nav,
      p,
      pre,
      search,
      section,
      table
    ):where(:first-child) {
      margin-top: 12px;
    }
  }
}

a {
  color: #00f;
  cursor: pointer;
  &:focus,
  &:hover {
    color: color.mix(#00f, #fff, 85%);
  }
  &:active {
    color: color.mix(#00f, #000, 85%);
  }
  &:not([href]) {
    @extend :disabled;
    color: inherit;
  }
  &[aria-disabled='true'] {
    @extend :disabled;
    color: inherit;
  }
}

button {
  border: {
    style: solid;
    width: 1px;
  }
  cursor: pointer;
  padding: 0 6px;
}

[aria-disabled='true'] {
  @extend :disabled;
}

.bar {
  @extend %flex-block;
  border: 0 solid;
  border: {
    color: inherit;
  }
  gap: 4px;
  padding: 4px 10px;
}

.column {
  flex: 1;
  @for $i from 1 through 12 {
    &.fill-#{$i} {
      flex-basis: calc(100% / 12 * #{$i} - 24px);
      max-width: calc(100% / 12 * #{$i} - 24px);
    }
  }
}

.columns {
  @extend %flex-block;
  flex: 1;
}

.content {
  margin: {
    bottom: -4px;
    top: -4px;
  }
}

.has {
  &-gap {
    padding: 24px;
  }
}

.row {
  @extend %flex-block;
  flex-direction: column;
}

.rows {
  &.has-gap {
    > .row {
      margin: -12px;
      > .columns {
        > .column {
          margin: 12px;
        }
      }
      + .row {
        margin-top: 12px;
      }
    }
  }
}

.has {
  &-stroke {
    border: 1px solid;
  }
}

.block,
.blocks {
  @extend %blocks;
  border: 1px solid;
}

.block {
  &__bar {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
    padding: 3px;
    + .block__content {
      border-top: 1px solid;
    }
  }
  &__content {
    flex: 1;
    padding: 24px;
  }
  &__icon {
    @extend %flex-block;
  }
  &__title {
    @extend %title;
    cursor: move;
    flex: 1;
    padding: 0 6px;
    user-select: none;
  }
  &__task {
    cursor: pointer;
    user-select: none;
  }
  &__tasks {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
  }
}

.blocks {
  gap: 24px;
  padding: 24px;
  &[aria-orientation='horizontal'] {
    flex-direction: row;
  }
}

.fields {
  @extend %flex-block;
  flex-direction: column;
  gap: 24px;
}

.field {
  @extend %flex-block;
  gap: 24px;
}

.field__bar {}

.field__title {
  @extend %entry;
  border: 1px solid transparent;
  padding: {
    left: 0;
    right: 0;
  }
}

.field__content {
  flex: 1;
}

.field__entry {
  @extend %flex-block;
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  @extend %entry;
  flex: 1;
  padding: {
    left: 8px;
    right: 8px;
  }
}

.field__icon {
  @extend %entry;
  border-right: 1px solid;
  .icon {
    display: block;
  }
}

.field__tasks {
  @extend %flex-block;
}
.field__task {
  @extend %entry, %flex-block;
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
  .task__title {
    flex: 1;
    padding: 0 6px;
  }
}

.arrow {
  @include arrow;
}

.button {
  @include button;
  &-set {
    @include button-set;
  }
}

.buttons {
  @include buttons;
}

.description {
  @include description;
}

.icon {
  @include icon;
}

.link {
  @include link;
  &-set {
    @include link-set;
  }
}

.links {
  @include links;
}

.menu {
  @extend %flex;
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.25);
  color: #000;
  cursor: default;
  &-arrow {
    @extend %flex-block;
    border: {
      left: 1px solid;
      left-color: inherit;
    }
    cursor: pointer;
    height: 100%;
    padding: 0 8px;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 5px 4px 0;
      }
      content: "";
    }
    &.is-active {
      background: color.mix(#000, #fff, 25%);
    }
  }
  &-icon {
    margin: 0 3px;
  }
  &-item {
    @extend %flex;
    border: 0 solid;
    border: {
      color: inherit;
    }
    flex-wrap: nowrap;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    &.has-link {
      cursor: pointer;
      &:hover {
        background: color.mix(#00f, #fff, 12.5%);
      }
      &:focus-within {
        background: color.mix(#00f, #fff, 25%);
      }
      &.is-current {
        background: color.mix(#00f, #fff, 85%);
        color: #fff;
        &:hover {
          background: color.mix(#00f, #fff, 95%);
        }
        &:focus-within {
          background: color.mix(#00f, #fff, 95%);
        }
        > .menu-link {
          color: inherit;
        }
      }
      &.is-open {
        background: color.mix(#00f, #fff, 25%);
      }
    }
    &:not(.is-open) {
      > .menu {
        display: none;
      }
    }
    &:not(:first-child) {
      border: {
        left-width: 1px;
      }
    }
  }
  &-items {
    @extend %flex;
    align-items: stretch;
    border-color: inherit;
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-link {
    @extend %flex;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.link {
      .link-icon {
        margin-left: -4px;
      }
    }
  }
  .menu {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.25), 0 2px 4px rgb(0 0 0 / 0.25);
    left: -1px;
    position: absolute;
    top: 100%;
    z-index: 9999;
    .menu-item {
      &:not(:first-child) {
        border: {
          left-width: 0;
          top-width: 1px;
        }
      }
    }
    .menu-items {
      flex-direction: column;
      min-width: 144px;
      .link-arrow {
        &::after {
          border: 0 solid transparent;
          border: {
            left-color: inherit;
            width: 4px 0 4px 5px;
          }
        }
      }
    }
    .menu {
      left: 100%;
      top: -1px;
    }
  }
}

.menus {
  @extend %flex-block;
  gap: 24px;
}

.title {
  @extend %flex;
  color: inherit;
  flex-wrap: nowrap;
  font: inherit;
  gap: 4px;
  vertical-align: middle;
  &-arrow {
    @extend %flex-block;
    margin: 0 4px;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 5px 4px 0;
      }
      content: "";
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-content {
    flex: 1;
    margin: {
      bottom: 0;
      top: 0;
    }
  }
  &-hint {
    color: color.mix(#000, #fff, 50%);
  }
}

.zone {
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.25);
  &-bar {
    background: color.mix(#00f, #fff, 12.5%);
  }
  &-content {
    margin: 0;
    padding: 20px 24px;
  }
  &-description {
    flex: 0 0 100%;
    font-size: 14px;
  }
  &-icon {
    margin-left: -6px;
  }
  &-title {
    @extend %flex-block;
    flex: 1;
  }
  &.has-content {
    .zone-bar {
      border: {
        bottom-width: 1px;
      }
    }
  }
  + .zone {
    margin-top: 24px;
  }
}

.zones {
  @extend %flex-block;
  flex-direction: column;
  &.has-gap {
    gap: 24px;
    padding: 0;
    > .zone {
      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }
  > .zone {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }
}