@use 'sass:color';

@use './_.scss' as *;
@use './_arrow.scss' as *;
@use './_bar.scss' as *;
@use './_button-set.scss' as *;
@use './_button.scss' as *;
@use './_buttons.scss' as *;
@use './_content.scss' as *;
@use './_description.scss' as *;
@use './_entries.scss' as *;
@use './_entry-set.scss' as *;
@use './_entry.scss' as *;
@use './_icon.scss' as *;
@use './_item.scss' as *;
@use './_items.scss' as *;
@use './_link-set.scss' as *;
@use './_link.scss' as *;
@use './_links.scss' as *;
@use './_list.scss' as *;
@use './_title.scss' as *;
@use './_tool.scss' as *;
@use './_tools.scss' as *;
@use './_zone.scss' as *;
@use './_zones.scss' as *;

*,
::after,
::before {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
  background: 0 0;
  border: 0;
  border-color: inherit;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

:root {
  background: color.mix(#000, #fff, 20%);
  border: 0 solid #000;
  color: #000;
  font: 16px/1.5 sans-serif;
}

:disabled {
  cursor: not-allowed;
}

:focus-visible {
  @extend %focus;
}

:where(
  address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul
) {
  & + & {
    margin-top: 0.75rem;
  }
}

li {
  &:where(:not(:first-child)) {
    > :where(
      address,
      article,
      aside,
      blockquote,
      dd,
      details,
      div,
      dl,
      dt,
      fieldset,
      figure,
      footer,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hgroup,
      hr,
      main,
      nav,
      p,
      pre,
      search,
      section,
      table
    ):where(:first-child) {
      margin-top: 0.75rem;
    }
  }
}

a {
  color: #00f;
  cursor: pointer;
  &:focus,
  &:hover {
    color: color.mix(#00f, #fff, 80%);
  }
  &:active {
    color: color.mix(#00f, #000, 90%);
  }
  &:not([href]) {
    @extend :disabled;
    color: inherit;
  }
  &[aria-disabled='true'] {
    @extend :disabled;
    color: inherit;
  }
}

button {
  border: {
    style: solid;
    width: 1px;
  }
  cursor: pointer;
  padding: 0 0.375rem;
}

code {
  font-family: 'Courier New', monospace;
  font-size: 95%;
}

details > summary {
  cursor: pointer;
  display: block;
}

details[open] > summary {
  margin-bottom: 0.75rem;
}

fieldset {
  border: 1px solid #000;
  padding: 1.5rem;
}

legend {
  font-weight: bold;
  padding: 0 0.5rem;
}

pre code {
  display: block;
  overflow: auto;
  background: #000;
  color: #fff;
  padding: 0.5rem 0.75rem;
}

h1, h2, h3, h4, h5, h6 {}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border-top: 1px solid #000;
}

dd, ol, ul {
  margin-left: 1.5rem;
}

dt {
  font-weight: bold;
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

figure img {
  border: 1px solid #000;
}

audio,
iframe,
video {
  background: #000;
  border: 1px solid #000;
  color: #fff;
  display: block;
  width: 100%;
  height: auto;
}

ol {
  list-style: decimal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table caption {
  caption-side: bottom;
  margin: 0.5rem 0 0;
  text-align: center;
}

td, th {
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
}

th {
  font-weight: bold;
}

ul {
  list-style: disc;
}

[role='alert'] {
  background: #ff0;
  padding: 0.75rem 1.125rem;
}

[aria-disabled='true'] {
  @extend :disabled;
}

.bar {
  @include bar;
  &-icon {
    @include bar-icon;
  }
  &-title {
    @include bar-title;
  }
  &-tool {
    @include bar-tool;
  }
  &-tools {
    @include bar-tools;
  }
}

.column,
.columns {
  @extend %flex-block;
  flex: 1;
  margin: 0;
}

.columns {
  flex-direction: row;
  &.has-gap {
    > .column {
      margin: 0.75rem;
      @for $i from 1 through 12 {
        &.fill-#{$i} {
          flex-basis: calc(100% / 12 * #{$i} - 1.5rem);
          max-width: calc(100% / 12 * #{$i} - 1.5rem);
        }
      }
    }
  }
}

.content {
  @include content;
}

.has {
  &-pad {
    padding: 1.5rem;
  }
  &-stroke {
    border: 1px solid;
  }
}

.item {
  @include item;
  &-link {
    @include item-link;
  }
  &s {
    @include items;
  }
}

.list {
  @include list;
  &-bar {
    @include list-bar;
  }
  &-description {
    @include list-description;
  }
  &-item {
    @include list-item;
    &s {
      @include list-items;
    }
  }
  &-title {
    @include list-title;
  }
  &-tools {
    @include list-tools;
  }
}

.row,
.rows {
  @extend %flex-block;
  margin: 0;
}

.rows {
  &.has-gap {
    gap: 1.5rem;
    > .row {
      margin: -0.75rem;
    }
  }
}

.block,
.blocks {
  @extend %blocks;
  border: 1px solid;
}

.block {
  &__bar {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
    padding: 3px;
    + .block__content {
      border-top: 1px solid;
    }
  }
  &__content {
    flex: 1;
    padding: 1.5rem;
  }
  &__icon {
    @extend %flex-block;
  }
  &__title {
    cursor: move;
    flex: 1;
    padding: 0 0.375rem;
    user-select: none;
  }
  &__task {
    cursor: pointer;
    user-select: none;
  }
  &__tasks {
    @extend %blocks;
    flex-direction: row;
    flex: 0 auto;
    gap: 3px;
  }
}

.blocks {
  gap: 1.5rem;
  padding: 1.5rem;
  &[aria-orientation='horizontal'] {
    flex-direction: row;
  }
}

.fields {
  @extend %flex-block;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  @extend %flex-block;
  gap: 1.5rem;
}

.field__bar {}

.field__title {
  border: 1px solid transparent;
  padding: {
    left: 0;
    right: 0;
  }
}

.field__content {
  flex: 1;
}

.field__entry {
  @extend %flex-block;
  border: 1px solid;
}

.field__entry:focus-within {
  outline: 1px solid;
}

.form__entry {
  flex: 1;
  padding: {
    left: 0.5rem;
    right: 0.5rem;
  }
}

.field__icon {
  border-right: 1px solid;
  .icon {
    display: block;
  }
}

.field__tasks {
  @extend %flex-block;
}
.field__task {
  border-left: 1px solid;
  cursor: pointer;
  user-select: none;
  .task__title {
    flex: 1;
    padding: 0 0.375rem;
  }
}

.arrow {
  @include arrow;
}

.button {
  @include button;
  &-set {
    @include button-set;
  }
  &s {
    @include buttons;
  }
}

.description {
  @include description;
}

.entries {
  @include entries;
}

.entry {
  @include entry;
  &-set {
    @include entry-set;
  }
}

.icon {
  @include icon;
}

.link {
  @include link;
  &-arrow {
    @include link-arrow;
  }
  &-set {
    @include link-set;
  }
  &-title {
    @include link-title;
  }
  &s {
    @include links;
  }
}

.menu {
  @extend %flex;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: default;
  &-arrow {
    @extend %flex-block;
    border: {
      left: 1px solid;
      left-color: inherit;
    }
    cursor: pointer;
    height: 100%;
    padding: 0 0.5rem;
    &::after {
      border: 0 solid transparent;
      border: {
        top-color: inherit;
        width: 0.3125rem 0.25rem 0;
      }
      content: "";
    }
    &.is-active {
      background: color.mix(#000, #fff, 25%);
    }
  }
  &-icon {
    margin: 0 0.1875rem;
  }
  &-item {
    @extend %flex;
    border: 0 solid;
    border: {
      color: inherit;
    }
    flex-wrap: nowrap;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    &.has-link {
      cursor: pointer;
      &:hover {
        background: color.mix(#00f, #fff, 12.5%);
      }
      &:focus-within {
        background: color.mix(#00f, #fff, 25%);
      }
      &.is-current {
        background: color.mix(#00f, #fff, 85%);
        color: #fff;
        &:hover {
          background: color.mix(#00f, #fff, 95%);
        }
        &:focus-within {
          background: color.mix(#00f, #fff, 95%);
        }
        > .menu-link {
          color: inherit;
        }
      }
      &.is-open {
        background: color.mix(#00f, #fff, 25%);
      }
    }
    &:not(.is-open) {
      > .menu {
        display: none;
      }
    }
    &:not(:first-child) {
      border: {
        left-width: 1px;
      }
    }
  }
  &-items {
    @extend %flex;
    align-items: stretch;
    border-color: inherit;
    line-height: 1.875rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-link {
    @extend %flex;
    flex-wrap: nowrap;
    flex: 1;
    overflow: hidden;
    padding: 0 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.link {
      .link-icon {
        margin-left: -0.25rem;
      }
    }
  }
  .menu {
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.25), 0 2px 4px rgb(0 0 0 / 0.25);
    left: -1px;
    position: absolute;
    top: 100%;
    z-index: 9999;
    .menu-item {
      &:not(:first-child) {
        border: {
          left-width: 0;
          top-width: 1px;
        }
      }
    }
    .menu-items {
      flex-direction: column;
      min-width: 9rem;
      .link-arrow {
        &::after {
          border: 0 solid transparent;
          border: {
            left-color: inherit;
            width: 0.25rem 0 0.25rem 0.3125rem;
          }
        }
      }
    }
    .menu {
      left: 100%;
      top: -1px;
    }
  }
}

.menus {
  @extend %flex-block;
  gap: 1.5rem;
}

.title {
  @include title;
  &-arrow {
    @include title-arrow;
  }
  &-content {
    @include title-content;
  }
}

.tool {
  @include tool;
  &-set {
    @include tool-set;
  }
  &s {
    @include tools;
    &-set {
      @include tools-set;
    }
  }
}

.zone {
  @include zone;
  &-bar {
    @include zone-bar;
  }
  &-description {
    @include zone-description;
  }
  &s {
    @include zones;
  }
}