html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Application Menus
    link(href='index.min.css?v=%(version)' rel='stylesheet')
  body
    div(role='application' style={'padding': '24px'})
      .menu(role='none')
        ul.menu-items(role='menu')
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                .title-content Menu 1
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                .title-content Menu 2
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                .title-content Menu 3
            a.menu-arrow