html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Application Menu
    link(href='index.min.css?v=%(version)' rel='stylesheet')
  body
    div(role='application' style={'padding': '24px'})
      .menu(role='none')
        ul.menu-items(role='menu')
          li.menu-item(role='none')
            a.link.menu-link(aria-expanded='false' aria-haspopup='true' href='#' role='menuitem')
              span.link-title.title(role='none')
                span.title-content(role='none') File
              span.link-arrow(role='none')
            .menu(role='none')
              ul.menu-items(role='menu')
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title(role='none')
                      span.title-content(role='none') Save
                      kbd.title-hint(role='none') ⌘+S
                li.menu-item(role='none')
                  a.link.menu-link(aria-expanded='false' aria-haspopup='true' href='#' role='menuitem')
                    span.link-title.title(role='none')
                      span.title-content(role='none') Save As&hellip;
                    span.link-arrow(role='none')
                  .menu(role='none')
                    ul.menu-items(role='menu')
                      li.menu-item(role='none')
                        a.link.menu-link(href='#' role='menuitem')
                          span.link-title.title(role='none')
                            span.title-content(role='none') Word Document
                      li.menu-item(role='none')
                        a.link.menu-link(href='#' role='menuitem')
                          span.link-title.title(role='none')
                            span.title-content(role='none') Portable Document Format
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title(role='none')
                      span.title-content(role='none') Print
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title(role='none')
                      span.title-content(role='none') Close
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title(role='none')
                span.title-content(role='none') Edit
              span.link-arrow(role='none')
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title(role='none')
                span.title-content(role='none') Insert
              span.link-arrow(role='none')
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title(role='none')
                span.title-content(role='none') Format
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title(role='none')
                span.title-content(role='none') Help
            a.menu-arrow(aria-expanded='false' aria-haspopup='true' role='none')
    script(src='index.min.js?v=%(version)')