html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Application Menu
    link(href='index.min.css?v=%(version)' rel='stylesheet')
  body
    div(role='application' style={'padding': '24px'})
      .menu(role='none')
        ul.menu-items(role='menu')
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content File
              span.link-arrow
            .menu(role='none')
              ul.menu-items(role='menu')
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content New&hellip;
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content Open&hellip;
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content Close
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content Save
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content Save as&hellip;
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content Print
                li.menu-item(role='none')
                  a.link.menu-link(href='#' role='menuitem')
                    span.link-title.title
                      span.title-content Properties
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Edit
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content View
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Insert
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Format
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Tools
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Table
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Window
              span.link-arrow
          li.menu-item(role='none')
            a.link.menu-link(href='#' role='menuitem')
              span.link-title.title
                span.title-content Help
            a.menu-arrow